<template>
    <div>
        <ul class="nav nav-tabs">
            <li v-bind:class="{ active: isActiveRoute('ControlComponent') }"><router-link :to="{ name: 'ControlComponent' }">Settings</router-link></li>
            <li v-bind:class="{ active: isActiveRoute('StartControlComponent') }"><router-link :to="{ name: 'StartControlComponent' }">Start/Stop</router-link></li>
        </ul>
        <h1>Control Settings</h1>
        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p>{{ success }}</p>
        </div>
        <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
        <button class="btn btn-primary" @click="save()">Save</button>
        <button class="btn btn-danger" @click="reset()">Reset to Default</button>
        <br>
        <br>
    </div>
</template>


<script>
  import VueFormGenerator from "vue-form-generator";
  import ControlService from '../services/ControlService';

  export default {
    data() {
      return {
        error: '',
        success: '',

        model: {
          apiEndpoint: 'https://localhost:8443/api',
          concurrentUsers: 1,
          concurrentBusinesses: 1,
          registerEndpointUser: '/register/customer/',
          registerEndpointBusiness: '/register/business/',
          requestProcessing: 'concurrently'
        },

        schema: {
          fields: [{
            type: "input",
            inputType: "text",
            label: "Common API endpoint of main app:",
            model: "apiEndpoint",
            validator: VueFormGenerator.validators.string
          },{
            type: "rangeSlider",
            label: "Max concurrent customers (will be created):",
            model: "concurrentUsers",
            min: 1,
            max: 1000,
            sliderOptions: {
              step: 1,
              grid: true
            },
            validator: VueFormGenerator.validators.integer
          },{
            type: "rangeSlider",
            label: "Max concurrent business users (will be created):",
            model: "concurrentBusinesses",
            min: 1,
            max: 1000,
            sliderOptions: {
              step: 1,
              grid: true
            },
            validator: VueFormGenerator.validators.integer
          },{
            type: "input",
            inputType: "text",
            label: "Register endpoint for customers",
            model: "registerEndpointUser",
            validator: VueFormGenerator.validators.string
          },{
            type: "input",
            inputType: "text",
            label: "Register endpoint for businesses",
            model: "registerEndpointBusiness",
            validator: VueFormGenerator.validators.string
          },{
            type: "select",
            label: "Request processing",
            model: "requestProcessing",
            required: true,
            values: function() {
                return [
                  { id: "concurrently", name: "Concurrent" },
                  { id: "subsequently", name: "Subsequent" },
                ]
            },
            default: "concurrently"
          },
          ]
        },

        formOptions: {
          validateAfterLoad: true,
          validateAfterChanged: true
        }
      }
    },

    mounted: function () {
      this.getConfig();
    },

    methods: {
      async getConfig() {
        try {
          this.model = await ControlService.getConfig();
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      async save() {
        if(await ControlService.isStarting()){
          this.getConfig();
          this.showError('Simulator running, changing values not possible now.');
        } else{
          try {
            let successMessage = await ControlService.saveConfig(this.model.apiEndpoint, this.model.concurrentUsers, this.model.concurrentBusinesses, this.model.registerEndpointUser, this.model.registerEndpointBusiness, this.model.requestProcessing);
            this.showSuccess(successMessage);
          } catch (e){
            console.error(e);
            this.showError(e);
          }
        }
      },

      async reset() {
        if(await ControlService.isStarting()){
          this.getConfig();
          this.showError('Simulator running, changing values not possible now.');
        } else {
          try {
            this.model = await ControlService.getDefaultConfig();
          } catch (e) {
            console.error(e);
            this.showError(e);
          }
        }
      },




      showError(errorMessage) {
        this.error = errorMessage;
        setTimeout(()=>{
          this.error = '';
        }, 15000);
      },

      showSuccess(successMessage) {
        this.success = successMessage;
        setTimeout(()=>{
          this.success = '';
        }, 5000);
      },

      isActiveRoute(name) {
        return this.$route.name === name;
      },
    },

    components:{
      "vue-form-generator": VueFormGenerator.component
    }
  }
</script>


<style lang="sass" scoped>
    @import '../colors'
    @import '~ion-rangeslider/css/ion.rangeSlider.css'
    @import '~ion-rangeslider/css/ion.rangeSlider.skinHTML5.css'

    .nav-tabs
        border-bottom: 5px solid $scondaryColor !important

    .nav-tabs > li > a
        background-color: #fff !important
        color: #000 !important

    .nav-tabs > li > a:hover
        background-color: $scondaryColor !important

    .nav-tabs > li.active > a
        background-color: $scondaryColor !important
</style>
