<template>
    <div>
        <h1>Data Overview</h1>
        <button type="button" class="btn btn-primary" @click="getData()">Reload</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myResetModal">Reset</button>
        <br>
        <br>

        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p>{{ success }}</p>
        </div>

        <ul v-if="data.errors" class="list-group">
            <li class="list-group-item disabled">Errors</li>
            <li v-for="requestType in Object.keys(data.errors)" class="list-group-item">
                <ul v-if="requestType" class="list-group">
                    <li class="list-group-item disabled">{{requestType}}</li>
                    <li class="list-group-item" v-for="endpoint in Object.keys(data.errors[requestType])">{{endpoint}}: {{data.errors[requestType][endpoint]}}</li>
                </ul>
            </li>
        </ul>

        <ul v-if="data.user" class="list-group">
            <li class="list-group-item disabled">User Data</li>
            <li class="list-group-item">Customers created: {{data.user.userCount}}</li>
            <li class="list-group-item">Average customer creation time: {{data.user.avgUserCreationTime}} ms</li>
            <li class="list-group-item">Customers logged in: {{data.user.loggedInUsersCount}}</li>
            <li class="list-group-item disabled"></li>
            <li class="list-group-item">Businesses created: {{data.user.businessUserCount}}</li>
            <li class="list-group-item">Average business creation time: {{data.user.avgBusinessCreationTime}} ms</li>
            <li class="list-group-item">Businesses logged in: {{data.user.loggedInBusinessesCount}}</li>
            <li class="list-group-item disabled"></li>
            <li class="list-group-item">Average login time: {{data.user.avgLoginTime}} ms</li>
        </ul>

        <ul v-if="data.getOffer" class="list-group">
            <li class="list-group-item disabled">Get Offers</li>
            <li class="list-group-item">Requests made: {{data.getOffer.requestCount}}</li>
            <li class="list-group-item">Average request processing time: {{data.getOffer.avgRequestProcessingTime}} ms</li>
        </ul>

        <ul v-if="data.createOffer" class="list-group">
            <li class="list-group-item disabled">Create Offers</li>
            <li class="list-group-item">Requests made: {{data.createOffer.requestCount}}</li>
            <li class="list-group-item">Average request processing time: {{data.createOffer.avgRequestProcessingTime}} ms</li>
        </ul>

        <div id="myResetModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{modal_header}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{modal_body_reset}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="reset()" data-dismiss="modal">Confirm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>


<script>
  import DataService from '../services/DataService';

  export default {
    data() {
      return {
        error: '',
        success: '',
        reloadInterval: {},
        data: {},
        modal_header: 'ATTENTION',
        modal_body_reset: 'This will delete all data the simulator has collected!!!'
      }
    },

    mounted: function () {
      this.getData();
      this.reloadInterval = setInterval(() => {
        this.getData();
      }, 10000);
    },

    beforeDestroy: function () {
      clearInterval(this.reloadInterval);
    },

    methods: {
      async getData() {
        try {
          this.data = await DataService.getData();
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      async reset() {
        try {
          this.data = await DataService.resetData();
          this.showSuccess('Reset complete.');
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      showError(errorMessage) {
        this.error = errorMessage;
        setTimeout(()=>{
          this.error = '';
        }, 15000);
      },

      showSuccess(successMessage) {
        this.success = successMessage;
        setTimeout(()=>{
          this.success = '';
        }, 5000);
      },
    }
  }
</script>


<style lang="sass" scoped>
    @import '../colors'
    @import '~ion-rangeslider/css/ion.rangeSlider.css'
    @import '~ion-rangeslider/css/ion.rangeSlider.skinHTML5.css'
</style>
