<template>
    <div>
        <h1>{{name}} Home</h1>

        <h3>Hello at the Simulator of Last Minute Deal!</h3>
    </div>
</template>


<script>
  export default {
    data() {
      return {
        name: 'Last Minute Deal Simulator'
      }
    },

    created: function () {

    },

    methods: {

    }
  }
</script>


<style lang="sass" scoped>
    @import '../colors'

    .table
        background: $scondaryColor
</style>