<template>
    <div>
        <h1>Simulation</h1>
        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p>{{ success }}</p>
        </div>
        <div v-if="running">
            <h3>Login Simulation</h3>
            <vue-form-generator :schema="userSchema" :model="userModel" :options="formOptions" @validated="onValidated"></vue-form-generator>
            <button class="btn btn-default" @click="loginUsers()">Login all users</button>
            <br>
            <hr>
            <br>
            <div v-if="loggedInUsers > 0">
                <div class="alert alert-danger" v-if="getOfferError">
                    <p>{{ getOfferError }}</p>
                </div>
                <div class="alert alert-success" v-if="getOfferSuccess">
                    <p>{{ getOfferSuccess }}</p>
                </div>
                <h3>Get Offers Simulation</h3>
                <vue-form-generator :schema="getOfferSchema" :model="getOfferModel" :options="formOptions" @validated="onValidated"></vue-form-generator>
                <button class="btn btn-default" @click="simulateGetOffers()">Simulate getting offers</button>
                <br>
                <hr>
                <br>



                <div class="alert alert-danger" v-if="createOfferError">
                    <p>{{ createOfferError }}</p>
                </div>
                <div class="alert alert-success" v-if="createOfferSuccess">
                    <p>{{ createOfferSuccess }}</p>
                </div>
                <h3>Create Offers Simulation</h3>
                <vue-form-generator :schema="createOfferSchema" :model="createOfferModel" :options="formOptions" @validated="onValidated"></vue-form-generator>
                <button class="btn btn-default" @click="simulateCreateOffers()">Simulate creating offers</button>
                <br>
                <hr>
                <br>
            </div>
            <div v-if="loggedInUsers <= 0">
                <h2>Please log in users first to simulate further!</h2>
                <br>
                <br>
            </div>
            <button type="button" class="btn btn-primary" @click="goToData()">Show Data</button>
            <button class="btn btn-danger" @click="reset()">Reset to Default</button>
        </div>
        <br>
        <br>
    </div>
</template>


<script>
  import VueFormGenerator from "vue-form-generator";
  import SimulationService from '../services/SimulationService';
  import ControlService from '../services/ControlService';

  export default {
    data() {
      return {
        error: '',
        success: '',
        running: false,
        loggedInUsers: 0,
        loggedInCustomers: 0,
        loggedInBusinesses: 0,
        controlConfig: {concurrentBusinesses: 1, concurrentUsers: 1},


        getOfferError: '',
        getOfferSuccess: '',
        getOfferModel: {
          getOfferEndpoint: '/offer/',
          requestProcessing: 'concurrently',
          userCount: 1
        },
        getOfferSchema: {
          fields: [{
            type: "input",
            inputType: "text",
            label: "Get offer endpoint:",
            model: "getOfferEndpoint",
            validator: VueFormGenerator.validators.string
          },{
            type: "rangeSlider",
            label: "Users getting offers count:",
            model: "userCount",
            min: 1,
            max: 1,
            sliderOptions: {
              step: 1,
              grid: true
            },
            validator: VueFormGenerator.validators.integer
          },{
            type: "select",
            label: "Request processing",
            model: "requestProcessing",
            required: true,
            values: function() {
              return [
                { id: "concurrently", name: "Concurrent" },
                { id: "subsequently", name: "Subsequent" },
              ]
            },
            default: "concurrently",
            validator: VueFormGenerator.validators.required
          },]
        },



        createOfferError: '',
        createOfferSuccess: '',
        createOfferModel: {
          createOfferEndpoint: '/offer/',
          requestProcessing: 'concurrently',
          businessCount: 1
        },
        createOfferSchema: {
          fields: [{
            type: "input",
            inputType: "text",
            label: "Create offer endpoint:",
            model: "createOfferEndpoint",
            validator: VueFormGenerator.validators.string
          },{
            type: "rangeSlider",
            label: "Create offers count:",
            model: "businessCount",
            min: 1,
            max: 1,
            sliderOptions: {
              step: 1,
              grid: true
            },
            validator: VueFormGenerator.validators.integer
          },{
            type: "select",
            label: "Request processing",
            model: "requestProcessing",
            required: true,
            values: function() {
              return [
                { id: "concurrently", name: "Concurrent" },
                { id: "subsequently", name: "Subsequent" },
              ]
            },
            default: "concurrently",
            validator: VueFormGenerator.validators.required
          },]
        },



        userModel: {
          loginEndpoint: '/auth/login/',
          requestProcessing: 'concurrently'
        },
        userSchema: {
          fields: [{
            type: "input",
            inputType: "text",
            label: "Login endpoint:",
            model: "loginEndpoint",
            validator: VueFormGenerator.validators.string
          },{
            type: "select",
            label: "Request processing",
            model: "requestProcessing",
            required: true,
            values: function() {
              return [
                { id: "concurrently", name: "Concurrent" },
                { id: "subsequently", name: "Subsequent" },
              ]
            },
            default: "concurrently",
            validator: VueFormGenerator.validators.required
          },]
        },

        formOptions: {
          validateAfterLoad: true,
          validateAfterChanged: true
        }
      }
    },

    mounted: function () {
      this.setUp();
    },

    methods: {

      async setUp() {
        await this.getConfig();
        this.getSimulationData();
        await this.isRunning();
      },

      async getConfig() {
        try {
          this.loggedInCustomers = await ControlService.getLoggedInCustomersCount();
          this.loggedInBusinesses = await ControlService.getLoggedInBusinessesCount();
          this.loggedInUsers = this.loggedInCustomers + this.loggedInBusinesses;

          this.getOfferSchema.fields[1].max = this.loggedInUsers;
          this.createOfferSchema.fields[1].max = this.loggedInBusinesses;
          // TODO: add additional data from config to schemas here
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      getSimulationData() {
        let modelsData = SimulationService.getSimulationData();
        this.userModel = modelsData.user;
        this.getOfferModel = modelsData.getOffer;
        this.createOfferModel = modelsData.createOffer;
        // TODO: add other data here
      },

      reset() {
        let modelsData = SimulationService.resetSimulationData();
        this.userModel = modelsData.user;
        this.getOfferModel = modelsData.getOffer;
        this.createOfferModel = modelsData.createOffer;
        // TODO: add other data here
        this.showSuccess('Successfully reset to default.');
      },

      async loginUsers() {
        try {
          let successMessage = await SimulationService.loginUsers(this.userModel.loginEndpoint, this.userModel.requestProcessing);
          this.getConfig();
          this.showSuccess(successMessage);
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      async simulateGetOffers() {
        try {
          let successMessage = await SimulationService.simulateGetOffers(this.getOfferModel.getOfferEndpoint, this.getOfferModel.userCount, this.getOfferModel.requestProcessing);
          this.showGetOfferSuccess(successMessage);
        } catch (e){
          console.error(e);
          this.showGetOfferError(e);
        }
      },


      async simulateCreateOffers() {
        try {
          let successMessage = await SimulationService.simulateCreateOffers(this.createOfferModel.createOfferEndpoint, this.createOfferModel.businessCount, this.createOfferModel.requestProcessing);
          this.showCreateOfferSuccess(successMessage);
        } catch (e){
          console.error(e);
          this.showCreateOfferError(e);
        }
      },

      onValidated(isValid, errors) {
        SimulationService.setSimulationData({
          user: this.userModel,
          getOffer: this.getOfferModel,
          createOffer: this.createOfferModel,
          // TODO: add other data here
        });
      },

      async isRunning(){
        try{
          this.running = await ControlService.isRunning();
          if(this.running){
            this.error = '';
          } else{
            this.error = 'Simulator not running, start simulator first.';
          }
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      showGetOfferError(errorMessage) {
        this.getOfferError = errorMessage;
        setTimeout(()=>{
          this.getOfferError = '';
        }, 15000);
      },

      showGetOfferSuccess(successMessage) {
        this.getOfferSuccess = successMessage;
        setTimeout(()=>{
          this.getOfferSuccess = '';
        }, 5000);
      },

      showCreateOfferError(errorMessage) {
        this.createOfferError = errorMessage;
        setTimeout(()=>{
          this.createOfferError = '';
        }, 15000);
      },

      showCreateOfferSuccess(successMessage) {
        this.createOfferSuccess = successMessage;
        setTimeout(()=>{
          this.createOfferSuccess = '';
        }, 5000);
      },

      showError(errorMessage) {
        this.error = errorMessage;
        setTimeout(()=>{
          this.error = '';
        }, 15000);
      },

      showSuccess(successMessage) {
        this.success = successMessage;
        setTimeout(()=>{
          this.success = '';
        }, 5000);
      },

      goToData() {
        this.$router.push({name: 'DataComponent'});
      },
    },

    components:{
      "vue-form-generator": VueFormGenerator.component
    }
  }
</script>


<style lang="sass" scoped>
    @import '../colors'
    @import '~ion-rangeslider/css/ion.rangeSlider.css'
    @import '~ion-rangeslider/css/ion.rangeSlider.skinHTML5.css'
</style>
