<template>
    <div>
        <ul class="nav nav-tabs">
            <li v-bind:class="{ active: isActiveRoute('ControlComponent') }"><router-link :to="{ name: 'ControlComponent' }">Settings</router-link></li>
            <li v-bind:class="{ active: isActiveRoute('StartControlComponent') }"><router-link :to="{ name: 'StartControlComponent' }">Start/Stop</router-link></li>
        </ul>
        <h1>Start Control</h1>
        <div class="alert alert-danger" v-if="error">
            <p>{{ error }}</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p>{{ success }}</p>
        </div>
        <h2 v-if="!started">Beware, by clicking confirming this, <br><em>{{userCount}} customer(s)</em><br> and <br> <em>{{businessUserCount}} business user(s) </em> <br> will be created like specified in the settings! Do not run this against a production database!!!</h2>
        <h3 v-if="!started">Endpoints for registration are:<br> <em>Customer: {{registerEndpointUser}}</em><br><em>Business: {{registerEndpointBusiness}}</em></h3>
        <h2 v-if="started && !running">Simulator is starting ...</h2>
        <h2 v-if="running">Simulator is running ...</h2>
        <button v-if="!started" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Start</button>
        <button v-if="started" type="button" class="btn btn-primary" @click="goToData()">Show Data</button>
        <button v-if="started" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myResetModal">Reset</button>
        <br>
        <br>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{modal_header}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{modal_body}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="confirm()" data-dismiss="modal">Confirm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="myResetModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{modal_header}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{modal_body_reset}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="resetSimulator()" data-dismiss="modal">Confirm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>


<script>
  import ControlService from "../services/ControlService";

  export default {
    data() {
      return {
        error: '',
        success: '',
        started: false,
        running: false,
        userCount: 1,
        businessUserCount: 1,
        registerEndpointUser: '',
        registerEndpointBusiness: '',
        modal_header: 'ATTENTION',
        modal_body: 'Do not run this against a production database, there will be a lot of database pollution!!!',
        modal_body_reset: 'This will make the simulator forget about all of his current state! The database of Last Minute Deal and the collected simulation data will not be affected though.'
      }
    },

    mounted: function () {
        this.checkState();
        this.loadValues();
    },

    methods: {
      async confirm() {
        try {
          this.started = true;
          this.showSuccess('Creating users...');
          let successMessage = await ControlService.start();
          this.running = true;
          this.showSuccess(successMessage);
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      async resetSimulator() {
        try {
          let successMessage = await ControlService.reset();
          this.showSuccess(successMessage);
          this.started = false;
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      async checkState() {
        try {
          this.started = await ControlService.isStarting();
          this.running = await ControlService.isRunning();
          await ControlService.isRunning();
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      async loadValues() {
        try {
          this.userCount = await ControlService.getUserCount();
          this.businessUserCount = await ControlService.getBusinessUserCount();
          this.registerEndpointUser = await ControlService.getRegisterEndpointUser();
          this.registerEndpointBusiness = await ControlService.getRegisterEndpointBusiness();
        } catch (e){
          console.error(e);
          this.showError(e);
        }
      },

      goToData() {
        this.$router.push({name: 'DataComponent'});
      },

      showError(errorMessage) {
        this.error = errorMessage;
        setTimeout(()=>{
          this.error = '';
        }, 15000);
      },

      showSuccess(successMessage) {
        this.success = successMessage;
        setTimeout(()=>{
          this.success = '';
        }, 5000);
      },

      isActiveRoute(name) {
        return this.$route.name === name;
      },
    },
  }
</script>


<style lang="sass" scoped>
    @import '../colors'
    @import '~ion-rangeslider/css/ion.rangeSlider.css'
    @import '~ion-rangeslider/css/ion.rangeSlider.skinHTML5.css'

    .nav-tabs
        border-bottom: 5px solid $scondaryColor !important

    .nav-tabs > li > a
        background-color: #fff !important
        color: #000 !important

    .nav-tabs > li > a:hover
        background-color: $scondaryColor !important

    .nav-tabs > li.active > a
        background-color: $scondaryColor !important
</style>
