<template>
  <div id="app">
    <!-- disables nav bar on admin pages -->
    <navigation v-if="!$route.path.includes('admin')"></navigation>
    <router-view/>
  </div>
</template>

<script>
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap-vue/dist/bootstrap-vue.css';
  import Navigation from './components/Navigation';

  export default {
    components: { Navigation },
    name: 'app',
  };
</script>

<style lang="sass">
  @import './global_styles/colors'
  @import './global_styles/text_styles'

</style>
