.newOffer
  padding: 40px

.offerBoxes
  float: left
  margin: 0 0 0 3.2%
  max-width: 20rem
  height: 30rem

.offerContainer
  left: 50%
  width: 100%
  margin-top: 30px

.filterAndSortContainer
  position: relative
  margin-top: 30px
  width: 50%
  left: 25%
  height: 230px
  text-align: center

.categorySelectionContainer
  width: 100%

.searchBarContainer
  margin-top: 15px
  width: 100%

.sortContainer
  width: 100%

// Business Recommendations & Business Page
.businessBoxes
  // float: left
  // margin: 0 0 0 3.2%
  width: 20rem

.innerDiv
  display: inline-block
  padding-top: 2%
  padding-bottom: 2%
  padding-left: 2%
  padding-right: 2%

.scrollDiv
  width: auto
  height: auto
  overflow-x: scroll
  overflow-y: hidden
  white-space: nowrap
  border-top: solid 1px #e5e5e5
  border-bottom: solid 1px #e5e5e5

.scrollDivBusiness
  width: auto
  height: auto
  overflow-x: scroll
  overflow-y: hidden
  white-space: nowrap

.businessArea
  background-color: #e9ecef
  padding-top: 3%
  padding-bottom: 3%
  border-radius: 10px

.imageDiv
  width: 285px
  height: 180px

.imgOffer
  width: inherit
  height: inherit

//Admin
.adminArea
  padding: 20px

.overviewData
  background-color: #e9ecef
  padding: 2%
  border-radius: 3px

.overviewCol
  text-align: center

.overviewHeading
  text-align: center
  padding: 10px

//Loading in Recommendations and AlsoBooked
.loading
  text-align: center
  margin-top: 20px
