.red-text
  color: red

.green-text
  color: green

.card-text-rec
  padding: 0
  margin: 0
  line-height: 20px

.heading
  font-family: Verdana, Geneva, sans-serif
  text-align: center
  padding: 20px

.recommend
  text-align: center

.overViewNavbar
  font-family: Verdana, Geneva, sans-serif
  font-size: medium
  padding: 20px
