<template>
  <b-container v-if="isAdmin" class="adminArea">
    <img src="../assets/logo.png" alt="Logo Last Minute Deal" width="80px" height="80px"/>
    <h1>Admin Area</h1>

    <b-alert variant="danger" :show="errorFeedbackMessage !== ''" dismissible @dismissed="errorFeedbackMessage = ''">{{ errorFeedbackMessage }}</b-alert>

    <b-nav pills>
      <b-nav-item active>Overview</b-nav-item>
      <b-nav-item :to="{ path: '/admin_details' }">Details</b-nav-item>
      <b-nav-item @click="sendLogout()">Signout</b-nav-item>
    </b-nav>
    <h5 class="overviewHeading">General Data</h5>
    <div class="overviewData">
      <b-row>
        <b-col md="4"><b>ENTITY</b></b-col>
        <b-col md="2" class="overviewCol"><b>QUANTITY</b></b-col>
      </b-row>
      <b-row>
        <b-col md="4">Users</b-col>
        <b-col md="2" class="overviewCol">{{ adminData.allUsers }}</b-col>
      </b-row>

      <b-row>
        <b-col md="4">Businesses</b-col>
        <b-col md="2" class="overviewCol">{{ adminData.allBusinesses }}</b-col>
      </b-row>

      <b-row>
        <b-col md="4">Offers</b-col>
        <b-col md="2" class="overviewCol">{{ adminData.allOffers }}</b-col>
      </b-row>
      <b-row>
        <b-col md="4">Reservations/Booked</b-col>
        <b-col md="2" class="overviewCol">{{ adminData.allReservations }}/{{ adminData.bookedInPercent }} %</b-col>
      </b-row>
    </div>
    <h5 class="overviewHeading">Inspect Businesses and their Offers</h5>
    <div class="overviewData">
      <b-row>
        <b-col md="2"><b>Choose Business</b></b-col>
        <b-col>
          <select v-model="selectedBusiness">
            <option v-for="business in dbData.businesses" v-bind:value="business.id">
              {{ business.name }}
            </option>
          </select>
        </b-col>
      </b-row>
      <br>
      <b-row class="overviewCol">
        <b-col md="2"><b> OFFER ID</b></b-col>
        <b-col md="2"><b>CATEGORY</b></b-col>
        <b-col md="4"><b>TITLE</b></b-col>
        <b-col md="2"><b>DISCOUNT</b></b-col>
        <b-col md="2"><b>VALID UNTIL</b></b-col>
      </b-row>
      <div v-for="offer in dbData.offers">
        <b-row v-if="offer.business.id == selectedBusiness" class="overviewCol">
          <b-col md="2">{{ offer.id }}</b-col>
          <b-col md="2">{{ offer.category.name }}</b-col>
          <b-col md="4">{{ offer.title }}</b-col>
          <b-col md="2">{{ offer.discount }}%</b-col>
          <b-col md="2">{{ new Date(offer.validUntil).getDate() }}.{{ new Date(offer.validUntil).getMonth() }}.{{ new Date(offer.validUntil).getFullYear() }}</b-col>
        </b-row>
      </div>
    </div>
    <h5 class="overviewHeading">Inspect Users and their Bookings</h5>
    <div class="overviewData">
      <b-row>
        <b-col md="2"><b>Choose User</b></b-col>
        <b-col>
          <select v-model="selectedUser" @change="getAllReservations(selectedUser)">
            <option v-for="user in dbData.users" v-bind:value="user.id">
              {{ user.firstName }} {{ user.lastName}}
            </option>
          </select>
        </b-col>
      </b-row>
      <br>
      <div v-if="allOffersByTimeSlotId.length > 0">
        <b-row class="overviewCol">
          <b-col md="2"><b> OFFER ID</b></b-col>
          <b-col md="2"><b>CATEGORY</b></b-col>
          <b-col md="4"><b>TITLE</b></b-col>
          <b-col md="2"><b>PRICE</b></b-col>
          <b-col md="2"><b>DISCOUNT</b></b-col>
        </b-row>
        <div v-for="offer in allOffersByTimeSlotId">
          <b-row class="overviewCol">
            <b-col md="2">{{ offer.id }}</b-col>
            <b-col md="2">{{ offer.category.name }}</b-col>
            <b-col md="4">{{ offer.title }}</b-col>
            <b-col md="2">{{ offer.price }}€</b-col>
            <b-col md="2">{{ offer.discount }}%</b-col>
          </b-row>
        </div>
      </div>
      <div v-else>
        <p><em>No Bookings for this User</em></p>
      </div>
    </div>
  </b-container>
</template>

<script>
    import router from '../router';
    import UserService from '../services/UserService';
    import CustomerService from '../services/CustomerService';
    import BusinessService from '../services/BusinessService';
    import OfferService from '../services/OfferService';
    import ReservationService from '../services/ReservationService';

    export default {
      name: 'AdminOverview',
      mounted() {
        this.isUserAdmin();
        this.getInfo();
        this.getAllReservations(this.selectedUser);
      },
      data() {
        return {
          countReservations: 0,
          selectedBusiness: 1,
          selectedUser: 1,
          allReservations: [],
          allReservationsTimeSlotIds: [],
          allOffersByTimeSlotId: [],
          adminData: {
            allUsers: '',
            allBusinesses: '',
            allOffers: '',
            allReservations: '',
            allBookedReservations: '',
            bookedInPercent: '',
          },
          dbData: {
            users: [],
            businesses: [],
            offers: [],
            reservations: [],
            bookedReservations: [],
          },
          isAdmin: false,
          userInfoDto: {},
          errorFeedbackMessage: '',
        };
      },
      methods: {
        async getAllReservations(id) {
          // Empty the arrays to be able to fill
          // them with actual data
          this.allOffersByTimeSlotId = [];
          this.allReservations = [];
          this.allReservationsTimeSlotIds = [];
          try {
            this.allReservations =
              await ReservationService.getAllBookedReservations(id);
            if (this.allReservations.length > 0) {
              for (let i = 0; i < this.allReservations.length; i += 1) {
                this.allReservationsTimeSlotIds.push(this.allReservations[i].timeSlot.id);
              }
              this.allOffersByTimeSlotId =
                await OfferService.getOffersByTimeSlotIds(this.allReservationsTimeSlotIds);
            }
          } catch (e) {
            this.error = e;
          }
        },
        async getInfo() {
          this.dbData.users = await CustomerService.getAllCustomers();
          this.dbData.businesses = await BusinessService.getAllBusinesses();
          this.dbData.offers = await OfferService.getAllOffers();
          this.dbData.reservations = await ReservationService.getTotalReservations();
          this.dbData.bookedReservations = await ReservationService.getBookedReservations();

          this.adminData.allUsers = this.dbData.users.length;
          this.adminData.allBusinesses = this.dbData.businesses.length;
          this.adminData.allOffers = this.dbData.offers.length;
          this.adminData.allReservations = this.dbData.reservations.length;
          this.adminData.allBookedReservations = this.dbData.bookedReservations.length;
          this.adminData.bookedInPercent =
            ((100 * this.adminData.allBookedReservations) / this.adminData.allReservations).toFixed(2);
        },
        async isUserAdmin() {
          try {
            this.userInfoDto = await UserService.getUserInfo();
            this.isAdmin = this.userInfoDto.userType === 'ADMIN';
          } catch (e) {
            this.isAdmin = false;
          }
        },
        async sendLogout() {
          try {
            await UserService.getUserInfo();
          } catch (e) {
            UserService.removeAuthToken();
            this.userInfoDto = {};
            router.push({ path: '/admin' });
          }
          try {
            await UserService.logout();
            this.userInfoDto = {};
            router.push({ path: '/admin' });
          } catch (e) {
            this.errorFeedbackMessage = e;
          }
        },
      },
    };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>
