<template>
  <b-container>
    <b-row>
      <b-col md="6" offset-md="3">
        <img src="../assets/logo.png" alt="Logo Last Minute Deal" width="100px" height="100px"/>
        <h1>Admin Login</h1>
        <b-alert variant="danger" :show="errorFeedbackMessage !== ''" dismissible @dismissed="errorFeedbackMessage = ''">{{ errorFeedbackMessage }}</b-alert>
        <b-form @submit="onSubmit" @reset="onReset" v-if="showForm">
          <b-form-group id="usernameInputGroup"
                        label="Username"
                        label-for="usernameInput">
            <b-form-input id="usernameInput"
                          type="text"
                          v-model="loginData.username"
                          :state="notBlank(loginData.username)"
                          required
                          placeholder="Enter your username">
            </b-form-input>
          </b-form-group>
          <b-form-group id="passwordInputGroup"
                        label="Password"
                        label-for="passwordInput">
            <b-form-input id="passwordInput"
                          type="password"
                          v-model="loginData.password"
                          :state="notBlank(loginData.password)"
                          required
                          placeholder="Enter your password">
            </b-form-input>
          </b-form-group>
          <b-button type="submit" variant="primary">Login</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
    import router from '../router';
    import UserService from '../services/UserService';

    export default {
      name: 'AdminLogin',
      async mounted() {
        const loggedIn = await UserService.isAuthenticated();
        if (loggedIn) {
          router.push({ path: '/admin_overview' });
        }
      },
      data() {
        return {
          loginData: {
            username: '',
            password: '',
          },
          userInfoDto: {},
          errorFeedbackMessage: '',
          showForm: true,
        };
      },
      methods: {
        notBlank(value) {
          return value.length > 0;
        },
        async onSubmit(evt) {
          evt.preventDefault();

          try {
            await UserService.login(this.loginData.username, this.loginData.password);
            this.userInfoDto = await UserService.getUserInfo();

            if (this.userInfoDto.userType === 'ADMIN') {
              router.push({ path: '/admin_overview' });
            } else {
              this.errorFeedbackMessage = 'You are no admin user. Sorry.';
            }
          } catch (e) {
            this.errorFeedbackMessage = e;
          }
        },
        onReset(evt) {
          evt.preventDefault();
          /* Reset our form values */
          this.clearForm();
          /* Trick to reset/clear native browser form validation state */
          this.showForm = false;
          this.$nextTick(() => { this.showForm = true; });
        },
        clearForm() {
          this.loginData.username = '';
          this.loginData.password = '';
        },
      },
    };
</script>

<style scoped>

</style>
