<template>
  <b-container>
    <div v-if="loading" class="loading">
      <h1>Loading ...</h1>
    </div>
    <div v-else>

      <div v-if="(alsoBookedBusiness.length <= 0 || showErrorAlert)" class="heading">
        <h1>Thank you for booking an offer!</h1>
      </div>

      <div v-if="(alsoBookedBusiness.length > 0 && !showErrorAlert)">
        <h1 class="heading">Thank you for booking an offer!</h1>
        <h5 class="recommend">Other users also booked these offers. Interested? ;)</h5>
        <br>
        <div class="scrollDiv" >
          <div class = "innerDiv" v-for="offer in actualOffers" :key="offer.id">
            <div v-if="new Date(offer.validUntil) >= new Date()">
              <offer-component
                :title="offer.title"
                :price="offer.price"
                :discount="offer.discount"
                :amount="offer.amount"
                :category-name="offer.category.name"
                :picture-url="offer.pictureUrl"
                :picture="offer.picture"
                :valid-until="offer.validUntil"
                :description="offer.description"
                :id="offer.id"
                :disabled="!isAuthenticated()"
                v-on:offer-detail="toOfferDetail(offer.id)"
              ></offer-component>
            </div>
          </div>
        </div>
      </div>

    </div>
  </b-container>
</template>

<script>
  import BusinessService from '../services/BusinessService';
  import UserService from '../services/UserService';
  import AdvancedService from '../services/AdvancedService';
  import OfferComponent from './OfferComponent';
  import router from '../router';

  export default {
    name: 'AlsoBookedComponent',
    components: { OfferComponent },
    async mounted() {
      await this.getAllOffers();
    },
    data() {
      return {
        loading: true,
        intOffers: [],
        allOffers: [],
        actualOffers: [],
        elkData: [],
        alsoBookedBusiness: [],
        id: '',
        error: '',
        showErrorAlert: null,
      };
    },
    methods: {
      async getAlsoBooked() {
        try {
          this.elkData = await AdvancedService.getAlsoBooking(this.$route.params.id);
          if (this.elkData.length > 0 || this.elkData !== null) {
            await this.elkData.forEach((message) => {
              this.alsoBookedBusiness.push(parseInt(message.message, 10));
            });
          }
        } catch (e) {
          this.error = e;
          this.showErrorAlert = true;
        }
      },
      async getAllOffers() {
        try {
          await this.getAlsoBooked();
          const promises = [];
          if (this.alsoBookedBusiness.length > 0) {
            for (let i = 0; i < this.alsoBookedBusiness.length; i += 1) {
              promises.push(BusinessService.getOfferByBusinessId(this.alsoBookedBusiness[i]));
            }
          }
          this.intOffers = await Promise.all(promises);

          this.allOffers = this.allOffers.concat.apply(this.allOffers, this.intOffers); // eslint-disable-line no-use-before-define

          this.calculateAmountForEachOffer();

          this.allOffers.forEach((offer) => {
            if (new Date(offer.validUntil) >= new Date()) {
              this.actualOffers.push(offer);
            }
          });
          this.loading = false;
        } catch (e) {
          this.error = e;
          this.showErrorAlert = true;
        }
      },
      calculateAmountForEachOffer() {
        this.allOffers.forEach((element) => {
          // eslint-disable-next-line no-param-reassign
          element.amount = 0;

          if (element.timeSlotList) {
            element.timeSlotList.forEach((ts) => {
              // eslint-disable-next-line no-param-reassign
              element.amount += ts.quantity_total - ts.quantity_booked;
            });
          }
        });
      },
      toOfferDetail(id) {
        router.push({ path: `/offer/${id}` });
      },
      isAuthenticated() {
        return UserService.isAuthenticated();
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>
