<template>
  <b-container>
    <div v-if="loading" class="loading">
      <h1>Loading ...</h1>
    </div>
    <div v-else>

      <div class="heading" v-if="(businessIds.length <= 0 || showErrorAlert)">
        <h3>We don't have enough information to recommend you some businesses</h3>
        <h5>Please book some offers ;)</h5>
      </div>
      <div v-if="(businessIds.length > 0 && !showErrorAlert)">
        <div class="heading">
          <h1>RECOMMENDATIONS</h1>
        </div>
        <div class="scrollDiv" >
          <div class = "innerDiv" v-for="business in businesses">
            <b-card
              header-tag="header"
              footer-tag="footer"
              tag="article"
              class="mb-2 businessBoxes">
              <h3 slot="header" class="text-md-center">{{ business.name }}</h3>
              <p class="card-text-rec">{{ business.street }}, {{ business.streetNumber }}</p>
              <p>{{ business.zipCode }} {{ business.city }}</p>
              <b-button variant="primary" @click="toBusiness(business.id)">Show offers</b-button>
              <h10 slot="footer"><em>{{ business.email }}</em></h10>
            </b-card>
          </div>
        </div>
      </div>

    </div>
  </b-container>
</template>


<script>
  import BusinessService from '../services/BusinessService';
  import AdvancedService from '../services/AdvancedService';
  import UserService from '../services/UserService';
  import router from '../router';

  export default {
    name: 'BusinessRecommendations',
    async mounted() {
      await this.getBusinesses();
    },
    data() {
      return {
        loading: true,
        businesses: [],
        businessIds: [],
        elkData: [],
        error: '',
        showErrorAlert: null,
      };
    },
    methods: {

      populateElkInput() {
          this.elkData.forEach((message) => {
            this.businessIds.push(parseInt(message.message, 10));
          });
      },
      async getRecommendations() {
        try {
          const userInfoDto = await UserService.getUserInfo();
          this.elkData = await AdvancedService.getRecommendations(userInfoDto.id);
          this.showErrorAlert = false;
        } catch (e) {
          this.error = e;
          this.showErrorAlert = true;
        }
        this.populateElkInput();
      },

      toBusiness(id) {
        router.push({ path: `/business/${id}` });
      },
      async getBusinesses() {
        try {
          await this.getRecommendations();

          const promises = [];
          if (this.businessIds.length > 0) {
            for (let i = 0; i < this.businessIds.length; i += 1) {
              promises.push(BusinessService.getBusiness(this.businessIds[i]));
            }
            this.businesses = await Promise.all(promises);
          }
          this.loading = false;
        } catch (e) {
          this.error = e;
          this.showErrorAlert = true;
        }
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>
