<template>
  <div>
    <b-container>
      <business-user-navigation/>
      <h2>Traffic</h2>
            <table>
            	<tr>
            		<td>Time of:</td>
            		<td><select v-model="trafftime">
            			<option>Booking</option>
            			<option>Offer start</option>
            		    </select>
            		</td>
            	</tr>
            	<tr>
            		<td>Gender:</td>
            		<td><select v-model="traffgender">
            			<option>Any</option>
            			<option>Female</option>
            			<option>Male</option>
            		    </select>
            		</td>
            	</tr>
            	<tr>
            		<td>Age:</td>
            		<td><input style="width: 40px" v-model="traffagefrom" /> -
                 		    <input style="width: 40px" v-model="traffageto" />
            		</td>
            	</tr>
            	<tr>
            		<td>Date:</td>
            		<td><input type="date" v-model="trafffrom" /> -
                 		    <input type="date" v-model="traffto" />
            		</td>
            	</tr>
            	<tr>
            		<td>Interval:</td>
            		<td><select v-model="traffinterval">
            			<option>Auto</option>
            			<option>Daily</option>
            			<option>Weekly</option>
            			<option>Montly</option>
            			<option>Yearly</option>
            		    </select>
            		</td>
            	</tr>
            	<tr>
            		<td colspan="2">
            			<input type="button" v-on:click="traffic" value="Get Visualization" />
            		</td>
            	</tr>
            </table>
            <iframe v-bind:src="traffsrc" height="600" width="800"></iframe>

            <h2>Demographics and Preferences</h2>
            <table>
            	<tr>
            		<td>1st Pie: </td>
            		<td><select v-model="demo1stpie">
            			<option>Age</option>
            			<option>Gender</option>
            		    </select>
            		</td>
            	</tr>
            	<tr>
            		<td>2nd Pie: </td>
            		<td><select v-model="demo2ndpie">
            			<option>Age</option>
            			<option>Gender</option>
            		    </select>
            		</td>
            	</tr>
            	<tr>
            		<td>Age Interval:</td>
            		<td><input style="width: 40px" v-model="demoageinterval" /></td>
            	</tr>
            	<tr>
            		<td>Date:</td>
            		<td><input type="date" v-model="demofrom" /> -
                 		    <input type="date" v-model="demoto" />
            		</td>
            	</tr>
            	<tr>
            		<td colspan="2">
            			<input type="button" v-on:click="demos" value="Get Visualization" />
            		</td>
            	</tr>
            </table>
            <iframe v-bind:src="demosrc" height="600" width="800"></iframe>

            <h2>Map</h2>
            <table>
            	<tr>
            		<td>Gender:</td>
            		<td><select v-model="mapgender">
            			<option>Any</option>
            			<option>Female</option>
            			<option>Male</option>
            		    </select>
            		</td>
            	</tr>
            	<tr>
            		<td>Age:</td>
            		<td><input style="width: 40px" v-model="mapagefrom" /> -
                 		    <input style="width: 40px" v-model="mapageto" />
            		</td>
            	</tr>
            	<tr>
            		<td>Date:</td>
            		<td><input type="date" v-model="mapfrom" /> -
                 		    <input type="date" v-model="mapto" />
            		</td>
            	</tr>
            	<tr>
            		<td>Precision:</td>
            		<td><input style="width: 40px" v-model="mapprecision" /></td>
            	</tr>
            	<tr>
            		<td colspan="2">
            			<input type="button" v-on:click="map" value="Get Visualization" />
            		</td>
            	</tr>
            </table>
            <iframe v-bind:src="mapsrc" height="600" width="800"></iframe>
    </b-container>
  </div>

</template>

<script>
  import BusinessUserNavigation from './BusinessUserNavigation';
  import UserService from '../services/UserService';

  export default {
    name: 'BusinessUserAdvancedFeatures',
    components: { BusinessUserNavigation },
    data() {
            return {
              	vizurl: 'https://localhost:5601/app/kibana#/visualize/create?embed&',
                	trafftime: 'Booking',
                	traffprov: 'Any',
                	traffgender: 'Any',
                	traffagefrom: '18',
                	traffageto: '60',
                	trafffrom: '2018-01-01',
                	traffto: '2018-06-29',
                	traffinterval: 'Auto',
                	traffsrc : '',
                	demoprov: 'Any',
                	demogender: 'Any',
                	demoagefrom: '18',
                  demoageto: '60',
                	demo1stpie: 'Age',
                	demo2ndpie: 'Gender',
                	demoageinterval: '5',
                	demofrom: '2018-01-01',
                	demoto: '2018-06-29',
                	demosrc: '',
                	mapprov: 'Any',
                	mapgender: 'Any',
                	mapagefrom: '18',
                	mapageto: '60',
                	mapfrom: '2018-01-01',
                	mapto: '2018-06-29',
                	mapprecision: '6',
                	mapsrc : ''
            };
          },
    methods: {
      async traffic() {
        const userInfoDto = await UserService.getUserInfo();
        var pid = userInfoDto.id
              		var date = this.createDate(this.trafffrom, this.traffto)
              		var interval = this.getInterval(this.traffinterval)
              		var query = this.createQuery(this.traffprov, this.traffgender, this.traffagefrom, this.traffageto, pid)
              		var timeof = this.createTimeOf(this.trafftime)

              		this.traffsrc = this.vizurl + "type=histogram&indexPattern=ase&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(" + date + "))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'" + query + "')),uiState:(),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(customInterval:'2h',extended_bounds:(),field:'" + timeof + "',interval:" + interval + ",min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!f,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,times:!(),yAxis:()),title:'New%20Visualization',type:histogram))"
              	},
              	async demos() {
              	const userInfoDto = await UserService.getUserInfo();
                        var pid = userInfoDto.id

              		var date = this.createDate(this.demofrom, this.demoto)

              		var pie1 = this.getPie(this.demo1stpie, this.demoageinterval)
              		var pie2 = this.getPie(this.demo2ndpie, this.demoageinterval)

              		var query = this.createQuery(this.demoprov, this.demogender, this.demoagefrom, this.demoageto, pid)

              		this.demosrc = this.vizurl + "type=pie&indexPattern=ase&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(" + date + "))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'" + query + "')),uiState:(),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(" + pie1 + "),(id:'3',params:(" + pie2 + ")),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'New%20Visualization',type:pie))"
              	},
              	async map() {
const userInfoDto = await UserService.getUserInfo();
        var pid = userInfoDto.id

              		var date = this.createDate(this.mapfrom, this.mapto)
              		var query = this.createQuery(this.mapprov, this.mapgender, this.mapagefrom, this.mapageto, pid)

              		this.mapsrc = this.vizurl + "type=tile_map&indexPattern=ase&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(" + date + "))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'" + query + "')),uiState:(),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(autoPrecision:!f,field:prov_loc,mapCenter:!(48.22513009858079,16.374435424804688),mapZoom:10,precision:" + this.mapprecision + "),schema:segment,type:geohash_grid)),listeners:(),params:(addTooltip:!t,heatBlur:15,heatMaxZoom:16,heatMinOpacity:0.1,heatNormalizeData:!t,heatRadius:25,isDesaturated:!t,mapType:'Scaled%20Circle%20Markers',wms:(enabled:!f,options:(attribution:'Maps%20provided%20by%20USGS',format:image%2Fpng,layers:'0',styles:'',transparent:!t,version:'1.3.0'),url:'https:%2F%2Fbasemap.nationalmap.gov%2Farcgis%2Fservices%2FUSGSTopo%2FMapServer%2FWMSServer')),title:'New%20Visualization',type:tile_map))"
              	},
              	createTimeOf: function (timeof) {
              		if (timeof == "Booking") {
              			return "time_booked";
              		} else {
              			return "time_start";
              		}
              	},
              	createDate: function (from, to) {
              		var date = "from:'" + from + "',mode:absolute,to:'" + to + "'";

              		return date;
              	},
              	getInterval: function (interval) {
              		if (interval == "Auto") {
              			return "auto";
              		} else if (interval == "Daily") {
              			return "d";
              		} else if (interval == "Weekly") {
              			return "w";
              		} else if (interval == "Monthly") {
              			return "M";
              		} else {
              			return "y";
              		}
              	},
              	getPie: function (field, int) {
              		if (field == "Gender") {
              			return "field:gender,order:desc,orderBy:'1',size:0),schema:segment,type:terms";
              		} else if (field == "Age") {
              			return "extended_bounds:(),field:age,interval:" + int + "),schema:segment,type:histogram";
              		} else {
              			return "field:prov_type,order:desc,orderBy:'1',size:0),schema:segment,type:terms";
              		}
              	},
              	createQuery: function (prov, gen, agefrom, ageto, pid) {
              		var query = "";

              		if (prov == "Any") {
              			query += "(prov_type:*)";
              		} else {
              			query += "(prov_type:\"" + prov + "\")";
              		}

              		query += " AND ";

              		if (gen == "Any") {
              			query += "(gender:*)";
              		} else {
              			query += "(gender:\"" + gen + "\")";
              		}

              		query += " AND ";

              		query += "(age:[" + agefrom + " TO " + ageto + "])";

              		if (pid != "admin") {
              			query += " AND ";

              			query += "(pid:\"" + pid + "\")";
              		}

              		return query;
              	}
    }
  };
</script>

<style scoped>
  #business_name {
    font-size: 40px;
    color: indigo;
  }
</style>
