<template>
  <b-container>
    <div class="heading">
      <h1>Overview</h1>
    </div>
    <div class="overViewNavbar">
      <b-nav justified tabs>
        <b-nav-item :to="{path: '/business_user_actual_offers'}">Actual Offers</b-nav-item>
        <b-nav-item :to="{path: '/business_user_expired_offers'}">Expired Offers</b-nav-item>
        <b-nav-item :to="{path: '/business_user_provision_details'}">Provision Details</b-nav-item>
        <b-nav-item :to="{path: '/business_user_advanced_features'}">Advanced Features</b-nav-item>
      </b-nav>
    </div>
  </b-container>
</template>

<script>

  export default {
    name: 'businessUserNavigation',
    created() {
    },
    data() {
      return {
        error: '',
      };
    },
    methods: {
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>


