<template>
  <b-container>
    <business-user-navigation/>
    <b-row>
      <b-form-checkbox id="dateFromActivate" v-model="dateFromActivate"
                       value="accepted"
                       unchecked-value="not_accepted" v-on:change="getAllBusinessOffers()">From</b-form-checkbox>
      <b-form-input :disabled="dateFromActivate === 'not_accepted'" :id="dateFromId" type="date" v-model="dateFrom" v-on:change="getAllBusinessOffers()"></b-form-input>
    </b-row>
    <b-row>
      <b-form-checkbox id="dateToActivate" v-model="dateToActivate"
                       value="accepted"
                       unchecked-value="not_accepted" v-on:change="getAllBusinessOffers()">To</b-form-checkbox>
      <b-form-input :disabled="dateToActivate === 'not_accepted'" :id="dateToId" type="date" v-model="dateTo" v-on:change="getAllBusinessOffers()"></b-form-input>
    </b-row>
    <br />
    <b-table v-if="allProvisionDetails.length > 0" hover :items="allProvisionDetails" :fields="fields">
      <template slot="show_details" slot-scope="row">
        <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2">
          {{ row.detailsShowing ? 'Hide' : 'Show'}} Reservation Details
        </b-button>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <template v-for="reservation in row.item.reservations">
            <b-row class="mb-2">
              <b-col md="auto" class="text-sm-right"><b>Reservation Number:</b></b-col>
              <b-col md="auto">{{ reservation.number }}</b-col>
              <b-col md="auto" class="text-sm-right"><b>Time Slot:</b></b-col>
              <b-col md="auto">{{ reservation.timeSlot }}</b-col>
              <b-col md="auto" class="text-sm-right"><b>Reserved At:</b></b-col>
              <b-col md="auto">{{ reservation.reservedAt }}</b-col>
            </b-row>
          </template>
          <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
        </b-card>
      </template>
    </b-table>
    <div v-else>
      <p><em>No bookings currently</em></p>
    </div>
  </b-container>
</template>

<script>
  import moment from 'moment';
  import BusinessUserNavigation from './BusinessUserNavigation';
  import BusinessService from '../services/BusinessService';
  import UserService from '../services/UserService';
  import ReservationService from '../services/ReservationService';

  export default {
    name: 'BusinessUserProvisionDetails',
    components: {
      BusinessUserNavigation,
    },
    created() {
      this.getAllBusinessOffers();
    },
    data() {
      return {
        allBusinessOffers: [],
        allProvisionDetails: [],
        dateFromActivate: 'not_accepted',
        dateToActivate: 'not_accepted',
        dateFrom: new Date(),
        dateTo: new Date(),
        dateFromSelected: new Date(),
        dateToSelected: new Date(),
        provisionDetail: {
          offer_title: '',
          offer_price_full: 0,
          discount: 0,
          offer_price: 0,
          total_bookings: 0,
          provision: 5,
          provision_per_booking: 0,
          provision_total: 0,
          reservations: [],
        },
        reservation: {
          number: 0,
          reservedAt: '',
          timeSlot: '',
        },
        loadedReservations: [],
        fields: {
          offer_title: {
            label: 'Offer title',
          },
          offer_price_full: {
            label: 'Full price in EUR',
          },
          discount: {
            label: 'Discount in %',
          },
          offer_price: {
            label: 'Provision basis in EUR',
          },
          total_bookings: {
            label: 'Total bookings',
          },
          provision: {
            label: 'Provision in %',
          },
          provision_per_booking: {
            label: 'Provision per booking in EUR',
          },
          provision_total: {
            label: 'Total provision in EUR',
            variant: 'danger',
          },
          show_details: {
            label: 'Details',
          },
        },
      };
    },
    methods: {
      async getAllBusinessOffers() {
        try {
          const userInfoDto = await UserService.getUserInfo();
          if (this.dateFromActivate === 'accepted' && this.dateToActivate === 'accepted') {
            this.allBusinessOffers = await BusinessService.getOfferByBusinessIdFromTo(userInfoDto.id, moment(`${this.dateFrom.toString()}T00:00:00`).toDate(), moment(`${this.dateTo.toString()}T23:59:59`).toDate());
            this.dateFromSelected = this.dateFrom;
            this.dateToSelected = this.dateTo;
          } else if (this.dateFromActivate === 'accepted' && this.dateToActivate === 'not_accepted') {
            this.allBusinessOffers = await BusinessService.getOfferByBusinessIdFromTo(userInfoDto.id, moment(`${this.dateFrom.toString()}T00:00:00`).toDate(), moment('2030-01-01T23:59:59').toDate());
            this.dateFromSelected = this.dateFrom;
            this.dateToSelected = '2030-01-01';
          } else if (this.dateFromActivate === 'not_accepted' && this.dateToActivate === 'accepted') {
            this.allBusinessOffers = await BusinessService.getOfferByBusinessIdFromTo(userInfoDto.id, moment('2000-01-01T00:00:00').toDate(), moment(`${this.dateTo.toString()}T23:59:59`).toDate());
            this.dateFromSelected = '2000-01-01';
            this.dateToSelected = this.dateTo;
          } else {
            this.allBusinessOffers = await BusinessService.getOfferByBusinessIdFromTo(userInfoDto.id, moment('2000-01-01T00:00:00').toDate(), moment('2030-01-01T23:59:59').toDate());
            this.dateFromSelected = '2000-01-01';
            this.dateToSelected = '2030-01-01';
          }
          this.allProvisionDetails = [];
          this.loadedReservations = [];
          await this.calculateProvisionDetails();
        } catch (e) {
          this.error = e;
        }
      },
      async calculateProvisionDetails() {
        for (const element of this.allBusinessOffers) {
          const provisionDetail = JSON.parse(JSON.stringify(this.provisionDetail));
          if (element.timeSlotList) {
            for (const ts of element.timeSlotList) {
              this.loadedReservations = await ReservationService.getReservationsFromTimeSlotId(ts.id);
              provisionDetail.total_bookings += ts.quantity_booked;
              for (const rs of this.loadedReservations) {
                const reservation = Object.assign({}, this.reservation);
                reservation.reservedAt = moment(rs.reservedAt).format('DD MMM YYYY hh:mm a');
                reservation.timeSlot = moment(ts.beg_date_time).format('DD MMM YYYY hh:mm a').concat(' - ', moment(ts.end_date_time).format('DD MMM YYYY hh:mm a'));
                reservation.number = rs.id;
                if (moment(rs.reservedAt) >= moment(this.dateFromSelected, 'YYYY-MM-DD')
                  && moment(rs.reservedAt) <= moment(this.dateToSelected, 'YYYY-MM-DD')) {
                  provisionDetail.reservations.push(reservation);
                }
              }
            }
            provisionDetail.offer_title = element.title;
            provisionDetail.offer_price_full = element.price;
            provisionDetail.discount = element.discount;
            provisionDetail.offer_price =
              (element.price - (element.price * (element.discount / 100))).toFixed(2);
            provisionDetail.provision_per_booking =
              (provisionDetail.offer_price * (provisionDetail.provision / 100)).toFixed(2);
            provisionDetail.provision_total =
              (provisionDetail.provision_per_booking * provisionDetail.total_bookings).toFixed(2);

            this.allProvisionDetails.push(provisionDetail);
          }
        }
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>
