<template>
  <div>
    <b-container>
      <div class="heading">
        <b-row>
          <b-col><h1>PROFILE MANAGEMENT</h1></b-col>
        </b-row>
      </div>
      <div>
        <b-alert variant="success" :show="showSuccessAlert" dismissible>{{ feedbackMessage }}</b-alert>
        <b-alert variant="danger" :show="showErrorAlert" dismissible>{{ feedbackMessage }}</b-alert>
      </div>
      <br>
      <div>

      <div>
        <b-row>
          <b-col class="text-xl-left" cols="4"><b>Username</b></b-col>
          <b-col class="text-xl-center" cols="4">{{ this.business.username }}</b-col>
        </b-row>
        <br>
      </div>

        <b-row>
          <b-col class="text-xl-left" cols="4"><b>Business Name</b></b-col>
          <b-col class="text-xl-center" cols="4">{{ this.business.name }}</b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.businessName size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>
        <b-collapse id="businessName" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" @reset="resetBusinessName" v-if="showBusinessNameForm">
              <b-form-group id="businessnameInputGroup"
                            label="New Business Name"
                            label-for="businessnameInput">
                <b-form-input id="businessnameInput"
                              type="text"
                              v-model="form.name"
                              :state="notBlank(form.name)"
                              required
                              placeholder="Enter new Business Name">
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>

      <div>
        <b-row>
          <b-col class="text-xl-left" cols="4"><b>E-Mail</b></b-col>
          <b-col class="text-xl-center" cols="4">{{ this.business.email }}</b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.mail size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>
        <b-collapse id="mail" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" @reset="resetMail" v-if="showMailForm">
              <b-form-group id="mailInputGroup"
                            label="New E-Mail"
                            label-for="mailInput">
                <b-form-input id="mailInput"
                              type="email"
                              v-model="form.email"
                              :state="validEmail(form.email)"
                              required
                              placeholder="Enter new E-Mail">
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>

      <div>
        <b-row>
          <b-col class="text-xl-left" cols="4"><b>Address</b></b-col>
          <b-col class="text-xl-center" cols="4">{{ this.business.street }} {{ this.business.streetNumber }}, {{
            this.business.zipCode }} {{ this.business.city }}
          </b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.address size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>

        <b-collapse id="address" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" @reset="resetAddress">
              <b-form-group id="streetInputGroup"
                            label="New Street"
                            label-for="streetInput">
                <b-form-input id="streetInput"
                              type="text"
                              v-model="form.street"
                              :state="notBlank(form.street)"
                              required
                              placeholder="Enter new street"></b-form-input>
              </b-form-group>
              <b-form-group id="streetNumberInputGroup"
                            label="New Street Number"
                            label-for="streetNumberInput">
                <b-form-input id="streetNumberInput"
                              type="text"
                              v-model="form.streetNumber"
                              :state="notBlank(form.streetNumber)"
                              required
                              placeholder="Enter new street number"></b-form-input>
              </b-form-group>
              <b-form-group id="cityInputGroup"
                            label="New City"
                            label-for="cityInput">
                <b-form-input id="cityInput"
                              type="text"
                              v-model="form.city"
                              :state="notBlank(form.city)"
                              required
                              placeholder="Enter new city"></b-form-input>
              </b-form-group>
              <b-form-group id="zipCodeInputGroup"
                            label="New zip code"
                            label-for="zipCodeInput">
                <b-form-input id="zipCodeInput"
                              type="number"
                              v-model="form.zipCode"
                              :state="validZipCode(form.zipCode)"
                              min="1000"
                              max="99999"
                              required
                              placeholder="Enter new zip code">
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>

      <div>
        <b-row>
          <b-col class="text-xl-left" cols="8">
            <b>Change Password</b>
          </b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.password size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>
        <b-collapse id="password" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" @reset="resetPassword" v-if="showPasswordForm">
              <b-form-group id="changePasswordGroup"
                            label="Actual Password"
                            label-for="actualPassword">
                <b-form-input id="actualPassword"
                              type="password"
                              v-model="password.actualPassword"
                              :state="checkActualPassword(password.actualPassword)"
                              placeholder="Enter actual password"
                              required>
                </b-form-input>
              </b-form-group>
              <b-form-group id="setNewPasswordGroup"
                            label="New Password"
                            label-for="newPassword">
                <b-form-input id="newPassword"
                              type="password"
                              v-model="password.newPassword"
                              :state="notBlank(password.newPassword)"
                              placeholder="Enter new password"
                              required>
                </b-form-input>
              </b-form-group>
              <b-form-group id="confirmNewPasswordGroup"
                            label="Confirm new Password"
                            label-for="confirmPassword">
                <b-form-input id="confirmPassword"
                              type="password"
                              v-model="password.confirmNewPassword"
                              :state="confirmedPassword(password.confirmNewPassword)"
                              placeholder="Confirm new password"
                              required>
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>

    </b-container>
  </div>
</template>

<script>
  import BusinessService from '../services/BusinessService';
  import UserService from '../services/UserService';

  export default {
    name: 'BusinessProfile',
    mounted() {
      this.getBusiness();
    },
    data() {
      return {
        error: '',
        showErrorAlert: false,
        showSuccessAlert: false,
        showBusinessNameForm: true,
        showMailForm: true,
        showAddressForm: true,
        showPasswordForm: true,
        feedbackMessage: '',
        business: {},
        password: {
          actualPassword: '',
          newPassword: '',
          confirmNewPassword: '',
        },
        form: {},
      };
    },
    methods: {
      async getBusiness() {
        try {
          const userInfoDto = await UserService.getUserInfo();
          this.business = await BusinessService.getBusiness(userInfoDto.id);
          this.form = await BusinessService.getBusiness(userInfoDto.id);
        } catch (e) {
          this.error = e;
        }
      },
      notBlank(value) {
        return value !== undefined && value.length > 0;
      },
      checkActualPassword(value) {
        return value !== '' && value === this.business.password;
      },
      confirmedPassword(value) {
        return value !== '' && value === this.password.newPassword;
      },
      validZipCode(value) {
        return value >= 1000 && value <= 99999;
      },
      validEmail(value) {
        const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return emailRegex.test(String(value).toLowerCase());
      },
      async onSubmit(evt) {
        evt.preventDefault();
        this.showErrorAlert = false;
        this.showSuccessAlert = false;

        this.business = this.form;
        if (this.password.newPassword !== '') {
          this.updateNewPassword();
        }

        try {
          await BusinessService.updateBusiness(this.business);
          this.feedbackMessage = 'Successfully changed!';
          this.showErrorAlert = false;
          this.showSuccessAlert = true;
        } catch (e) {
          this.feedbackMessage = e;
          this.showErrorAlert = true;
          this.showSuccessAlert = false;
        }
      },
      resetBusinessName(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.form.name = '';
        this.showBusinessNameForm = false;
        this.$nextTick(() => {
          this.showBusinessNameForm = true;
        });
      },
      resetMail(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.form.email = '';
        this.showMailForm = false;
        this.$nextTick(() => {
          this.showMailForm = true;
        });
      },
      resetAddress(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.form.street = '';
        this.form.streetNumber = '';
        this.form.city = '';
        this.form.zipCode = '';
        this.showAddressForm = false;
        this.$nextTick(() => {
          this.showAddressForm = true;
        });
      },
      resetPassword(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.password.actualPassword = '';
        this.password.newPassword = '';
        this.password.confirmNewPassword = '';
        this.$nextTick(() => {
          this.showPasswordForm = true;
        });
      },
      updateNewPassword() {
        this.business.password = this.password.newPassword;
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>

