<template>
  <div>
    <b-container>
      <business-user-navigation/>
      <div v-if="missedBusinessOffers.length > 0">
        <div>
          <div v-for="offer in missedBusinessOffers" :key="offer.id">
            <offer-component
              :title="offer.title"
              :price="offer.price"
              :discount="offer.discount"
              :amount="offer.amount"
              :category-name="offer.category.name"
              :picture-url="offer.pictureUrl"
              :picture="offer.picture"
              :valid-until="offer.validUntil"
              :description="offer.description"
              :id="offer.id"
              :disabled="!isAuthenticated()"
              v-on:offer-detail="toOfferDetail(offer.id)"
              class="mb-2 offerBoxes"
            ></offer-component>
          </div>
        </div>
      </div>
      <div v-else>
        <p><em>No History</em></p>
      </div>
    </b-container>
  </div>
</template>

<script>
  import BusinessUserNavigation from './BusinessUserNavigation';
  import BusinessService from '../services/BusinessService';
  import UserService from '../services/UserService';
  import OfferComponent from './OfferComponent';
  import router from '../router';

  export default {
    name: 'BusinessUserExpiredOffers',
    components: {
      OfferComponent,
      BusinessUserNavigation,
    },
    created() {
      this.getAllBusinessOffers();
    },
    data() {
      return {
        allBusinessOffers: [],
        missedBusinessOffers: [],
        error: '',
      };
    },

    methods: {
      async getAllBusinessOffers() {
        try {
          const userInfoDto = await UserService.getUserInfo();
          this.allBusinessOffers = await BusinessService.getOfferByBusinessId(userInfoDto.id);
          this.calculateAmountForEachOffer();
          for (let i = 0; i < this.allBusinessOffers.length; i += 1) {
            if (new Date(this.allBusinessOffers[i].validUntil) < new Date()) {
              this.missedBusinessOffers.push(this.allBusinessOffers[i]);
            }
          }
        } catch (e) {
          this.error = e;
        }
      },
      calculateAmountForEachOffer() {
        this.allBusinessOffers.forEach((element) => {
          // eslint-disable-next-line no-param-reassign
          element.amount = 0;

          if (element.timeSlotList) {
            element.timeSlotList.forEach((ts) => {
              // eslint-disable-next-line no-param-reassign
              element.amount += ts.quantity_total - ts.quantity_booked;
            });
          }
        });
      },
      toOfferDetail(id) {
        router.push({ path: `/offer/${id}` });
      },
      isAuthenticated() {
        return UserService.isAuthenticated();
      },
    },

  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>
