<template>
  <b-container>
    <br>

    <div class="businessArea">
      <b-row><b-col class="text-xl-center"><h1>{{ business.name }}</h1></b-col></b-row>
      <b-row>
        <b-col class="text-md-center">{{ business.street }} {{ business.streetNumber }}, {{ business.zipCode }} {{ business.city }}
        </b-col></b-row>
      <b-row><b-col class="text-md-center">{{ business.email }}</b-col></b-row>
    </div>

    <div v-if="actualBusinessOffers.length > 0">
      <hr class="my-4">
      <p><em>Currently Available</em></p>
      <hr class="my-4">

      <div class="scrollDivBusiness">
        <div class="innerDiv"  v-for="offer in actualBusinessOffers" :key="offer.id">
            <offer-component
              :title="offer.title"
              :price="offer.price"
              :discount="offer.discount"
              :amount="offer.amount"
              :category-name="offer.category.name"
              :picture-url="offer.pictureUrl"
              :picture="offer.picture"
              :valid-until="offer.validUntil"
              :description="offer.description"
              :id="offer.id"
              :disabled="!isAuthenticated()"
              v-on:offer-detail="toOfferDetail(offer.id)"
              class="mb-2 businessBoxes"
            ></offer-component>
          </div>
        </div>
    </div>
    <div v-else>
      <hr class="my-4">
      <p><em>No Offers Currently Available</em></p>
      <hr class="my-4">
    </div>

    <div v-if="missedBusinessOffers.length > 0">
      <hr class="my-4">
      <p><em>Missed</em></p>
      <hr class="my-4">

      <div class="scrollDivBusiness">
        <div class="innerDiv"  v-for="offer in missedBusinessOffers" :key="offer.id">
            <offer-component
              :title="offer.title"
              :price="offer.price"
              :discount="offer.discount"
              :amount="offer.amount"
              :category-name="offer.category.name"
              :picture-url="offer.pictureUrl"
              :picture="offer.picture"
              :valid-until="offer.validUntil"
              :description="offer.description"
              :id="offer.id"
              :disabled="false"
              v-on:offer-detail="toOfferDetail(offer.id)"
              class="mb-2 businessBoxes"
            ></offer-component>
        </div>
      </div>
    </div>
    <div v-else>
      <hr class="my-4">
      <p><em>No Offers Missed</em></p>
      <hr class="my-4">
    </div>


  </b-container>
</template>

<script>
  import BusinessService from '../services/BusinessService';
  import UserService from '../services/UserService';
  import OfferComponent from './OfferComponent';
  import router from '../router';

  export default {
    name: 'Business',
    components: { OfferComponent },
    async mounted() {
      await this.loadBusiness();
      await this.getAllBusinessOffers();
    },
    data() {
      return {
        business: {},
        errorLoadBusniess: '',
        allBusinessOffers: [],
        errorLoadOffer: '',
        actualBusinessOffers: [],
        missedBusinessOffers: [],
      };
    },
    methods: {
      async loadBusiness(id) {
        try {
          if (id) {
            this.business = await BusinessService.getBusiness(id);
          } else {
            this.business = await BusinessService.getBusiness(this.$route.params.id);
          }
        } catch (e) {
          this.errorLoadBusniess = e;
        }
      },
      async getAllBusinessOffers(id) {
        try {
          if (id) {
            this.allBusinessOffers = await BusinessService.getOfferByBusinessId(id);
          } else {
            this.allBusinessOffers =
              await BusinessService.getOfferByBusinessId(this.$route.params.id);
            this.calculateAmountForEachOffer();
            for (let i = 0; i < this.allBusinessOffers.length; i += 1) {
              if (new Date(this.allBusinessOffers[i].validUntil) >= new Date()) {
                this.actualBusinessOffers.push(this.allBusinessOffers[i]);
              } else {
                this.missedBusinessOffers.push(this.allBusinessOffers[i]);
              }
            }
          }
        } catch (e) {
          this.errorLoadOffer = e;
        }
      },
      calculateAmountForEachOffer() {
        this.allBusinessOffers.forEach((element) => {
          // eslint-disable-next-line no-param-reassign
          element.amount = 0;

          if (element.timeSlotList) {
            element.timeSlotList.forEach((ts) => {
              // eslint-disable-next-line no-param-reassign
              element.amount += ts.quantity_total - ts.quantity_booked;
            });
          }
        });
      },
      toOfferDetail(id) {
        router.push({ path: `/offer/${id}` });
      },
      isAuthenticated() {
        return UserService.isAuthenticated();
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>
