<template>
  <b-container>
    <h1>Business Registration</h1>
    <div>
      <b-alert variant="success" :show="successFeedbackMessage !== ''" dismissible @dismissed="successFeedbackMessage = ''">{{ successFeedbackMessage }}</b-alert>
      <b-alert variant="danger" :show="errorFeedbackMessage !== ''" dismissible @dismissed="errorFeedbackMessage = ''">{{ errorFeedbackMessage }}</b-alert>
    </div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="showForm">
      <b-form-group id="usernameInputGroup"
                    label="Username"
                    label-for="usernameInput">
        <b-form-input id="usernameInput"
                      type="text"
                      v-model="form.username"
                      :state="notBlank(form.username)"
                      required
                      placeholder="Enter your username">
        </b-form-input>
      </b-form-group>
      <b-form-group id="passwordInputGroup"
                    label="Your password"
                    label-for="passwordInput">
        <b-form-input id="passwordInput"
                      type="password"
                      v-model="form.password"
                      :state="notBlank(form.password)"
                      required
                      placeholder="Enter your password">
        </b-form-input>
      </b-form-group>
      <b-form-group id="confirmPasswordInputGroup"
                    label="Your confirmed password"
                    label-for="confirmPasswordInput">
        <b-form-input id="confirmPasswordInput"
                      type="password"
                      v-model="form.confirmPassword"
                      :state="confirmedPassword(form.confirmPassword)"
                      required
                      placeholder="Confirm your password">
        </b-form-input>
      </b-form-group>
      <b-form-group id="emailInputGroup"
                    label="Your email"
                    label-for="emailInput">
        <b-form-input id="emailInput"
                      type="email"
                      v-model="form.email"
                      :state="validEmail(form.email)"
                      required
                      placeholder="Confirm your email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="nameInputGroup"
                    label="Your company name"
                    label-for="nameInput">
        <b-form-input id="nameInput"
                      type="text"
                      v-model="form.name"
                      :state="notBlank(form.name)"
                      required
                      placeholder="Your company name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="streetInputGroup"
                    label="Your street"
                    label-for="streetInput">
        <b-form-input id="streetInput"
                      type="text"
                      v-model="form.street"
                      :state="notBlank(form.street)"
                      required
                      placeholder="Your street">
        </b-form-input>
      </b-form-group>
      <b-form-group id="streetNumberInputGroup"
                    label="Your street number"
                    label-for="streetNumberInput">
        <b-form-input id="streetNumberInput"
                      type="text"
                      v-model="form.streetNumber"
                      :state="notBlank(form.streetNumber)"
                      required
                      placeholder="Your street number">
        </b-form-input>
      </b-form-group>
      <b-form-group id="zipCodeInputGroup"
                    label="Your zip code"
                    label-for="zipCodeInput">
        <b-form-input id="zipCodeInput"
                      type="number"
                      v-model="form.zipCode"
                      :state="validZipCode(form.zipCode)"
                      min="1000"
                      max="99999"
                      required
                      placeholder="Your zip code">
        </b-form-input>
      </b-form-group>
      <b-form-group id="cityInputGroup"
                    label="Your city"
                    label-for="cityInput">
        <b-form-input id="cityInput"
                      type="text"
                      v-model="form.city"
                      :state="notBlank(form.city)"
                      required
                      placeholder="Your city">
        </b-form-input>
      </b-form-group>
      <b-form-group id="termsAndConditionsCheckbox">
          <b-form-checkbox required>I agree with the <a href="#" @click="showModal">terms and conditions</a>.</b-form-checkbox>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <b-modal ref="termsAndConditionsModal" title="Terms and conditions">
      <p class="my-4">Terms and conditions comes here...</p>
    </b-modal>
  </b-container>
</template>

<script>

  import UserService from '../services/UserService';

  export default {
    name: 'businessRegistration',
    data() {
      return {
        form: {
          username: '',
          password: '',
          confirmPassword: '',
          email: '',
          name: '',
          street: '',
          streetNumber: '',
          zipCode: null,
          city: '',
        },
        business: {
          username: '',
          password: '',
          email: '',
          name: '',
          street: '',
          streetNumber: '',
          zipCode: null,
          city: '',
        },
        showForm: true,
        errorFeedbackMessage: '',
        successFeedbackMessage: '',
      };
    },
    methods: {
      notBlank(value) {
        return value.length > 0;
      },
      validEmail(value) {
        const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return emailRegex.test(String(value).toLowerCase());
      },
      confirmedPassword(value) {
        return value !== '' && value === this.form.password;
      },
      validZipCode(value) {
        return value >= 1000 && value <= 99999;
      },
      async onSubmit(evt) {
        evt.preventDefault();

        if(this.form.password !== this.form.confirmPassword) {
          return;
        }

        this.convertFormToCustomer();

        try {
          const messageDto = await UserService.register('business', this.business);
          this.successFeedbackMessage = messageDto.message;
          this.clearForm();
        } catch (e) {
          this.errorFeedbackMessage = e;
        }
      },
      onReset(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.clearForm();
        /* Trick to reset/clear native browser form validation state */
        this.showForm = false;
        this.$nextTick(() => { this.showForm = true; });
      },
      convertFormToCustomer() {
        this.business.username = this.form.username;
        this.business.password = this.form.password;
        this.business.email = this.form.email;
        this.business.name = this.form.name;
        this.business.street = this.form.street;
        this.business.streetNumber = this.form.streetNumber;
        this.business.zipCode = this.form.zipCode;
        this.business.city = this.form.city;
      },
      showModal() {
        this.$refs.termsAndConditionsModal.show();
      },
      clearForm() {
        this.form.username = '';
        this.form.password = '';
        this.form.confirmPassword = '';
        this.form.email = '';
        this.form.name = '';
        this.form.street = '';
        this.form.streetNumber = '';
        this.form.zipCode = null;
        this.form.city = '';
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
</style>
