<template>
  <b-container>
    <customer-user-navigation/>
    <div v-if="allCancelledOffersByTimeSlotId.length > 0">
      <b-list-group v-for="offerCancelled in allCancelledOffersByTimeSlotId" :key="offerCancelled.id">
        <b-list-group-item button @click="toOfferDetail(offerCancelled.id)">
          <b-container>
            <b-row>
              <b-col v-if="((offerCancelled.picture === '' || offerCancelled.picture === null) &&  !(offerCancelled.pictureUrl === ''))" class="text-center" cols="12" md="2">
                <img :src="offerCancelled.pictureUrl" class="d-inline-block align-top" width="100px" height="100px" style="object-fit: cover">
              </b-col>
              <b-col v-if="(!(offerCancelled.picture === '') && !(offerCancelled.picture === null))" class="text-center" cols="12" md="2">
                <img :src="'data:image/jpeg;base64,' + offerCancelled.picture" class="d-inline-block align-top" width="100px" height="100px" style="object-fit: cover">
              </b-col>
              <b-col v-if="((offerCancelled.picture === '' || offerCancelled.picture === null) && offerCancelled.pictureUrl === '')" class="text-center" cols="12" md="2">
                <img src="/../../static/img/icons/apple-touch-icon.png" class="d-inline-block align-top" width="100px" height="100px" style="object-fit: cover">
              </b-col>
              <b-col cols="12" md="10">
                <b-row>
                  <b-col class="text-left" cols="8" md="8">
                    <h3 class="mb-1">{{ offerCancelled.title }}</h3>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="text-left" cols="12" md="12">
                    {{ offerCancelled.description }}
                  </b-col>
                </b-row>
                <br>
              </b-col>
            </b-row>
          </b-container>
        </b-list-group-item>
      </b-list-group>
    </div>
    <div v-else>
      <p><em>Currently no offers cancelled!</em></p>
    </div>
  </b-container>
</template>

<script>
import CustomerUserNavigation from './CustomerUserNavigation';
import ReservationService from '../services/ReservationService';
import OfferService from '../services/OfferService';
import router from '../router';
import UserService from '../services/UserService';

export default {
  name: 'CustomerUserCancelledOffers',
  components: {
    CustomerUserNavigation,
  },
  async mounted() {
    await this.loadUserInfo();
    await this.getAllReservations();
  },
  data() {
    return {
      allCancelledReservations: [],
      allCancelledReservationsTimeSlotIds: [],
      allCancelledOffersByTimeSlotId: [],
      customer_id: 0,
    };
  },
  methods: {
    async getAllReservations() {
      try {
        this.allCancelledReservations =
          await ReservationService.getAllCancelledReservations(this.customer_id);
        if (this.allCancelledReservations.length > 0) {
          for (let i = 0; i < this.allCancelledReservations.length; i += 1) {
            this.allCancelledReservationsTimeSlotIds
              .push(this.allCancelledReservations[i].timeSlot.id);
          }
          this.allCancelledOffersByTimeSlotId =
            await OfferService.getOffersByTimeSlotIds(this.allCancelledReservationsTimeSlotIds);
        }
      } catch (e) {
        this.error = e;
      }
    },
    async loadUserInfo() {
      const customerInfoDto = await UserService.getUserInfo();
      this.customer_id = customerInfoDto.id;
    },
    toOfferDetail(id) {
      router.push({ path: `/offer/${id}` });
    },
  },
};
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
</style>
