<template>
  <b-container>
    <h1 class="heading">Overview</h1>
    <br>
    <b-nav justified tabs>
      <b-nav-item :to="{path: '/customer_user_reserved_offers'}">Wishlist</b-nav-item>
      <b-nav-item :to="{path: '/customer_user_booked_offers'}">Booked Offers</b-nav-item>
    </b-nav>
    <br>
  </b-container>
</template>

<script>

  export default {
    name: 'CustomerUserNavigation',
    created() {
    },
    data() {
      return {
        error: '',
      };
    },
    methods: {
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>

