<template>
  <div>
    <b-container>
      <div class="heading">
        <b-row>
          <b-col><h1>PROFILE MANAGEMENT</h1></b-col>
        </b-row>
      </div>
      <div>
        <b-alert variant="success" :show="showSuccessAlert" dismissible>{{ feedbackMessage }}</b-alert>
        <b-alert variant="danger" :show="showErrorAlert" dismissible>{{ feedbackMessage }}</b-alert>
      </div>
      <br>
      <div>
        <b-row>
          <b-col class="text-xl-left" cols="4"><b>First Name</b></b-col>
          <b-col class="text-xl-center" cols="4">{{ this.customer.firstName }}</b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.customerName size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>
        <b-collapse id="customerName" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" @reset="resetCustomerName" v-if="showCustomerNameForm">
              <b-form-group id="customernameInputGroup"
                            label="New First Name"
                            label-for="customernameInput">
                <b-form-input id="customernameInput"
                              type="text"
                              v-model="customer.firstName"
                              :state="notBlank(customer.firstName)"
                              required
                              placeholder="Enter new First Name">
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>

      <div>
        <b-row>
          <b-col class="text-xl-left" cols="4"><b>Last Name</b></b-col>
          <b-col class="text-xl-center" cols="4">{{ this.customer.lastName }}</b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.customerLastName size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>
        <b-collapse id="customerLastName" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" @reset="resetCustomerLastName" v-if="showCustomerLastNameForm">
              <b-form-group id="customerLastNameInputGroup"
                            label="New Last Name"
                            label-for="customerLastNameInput">
                <b-form-input id="customerLastNameInput"
                              type="text"
                              v-model="customer.lastName"
                              :state="notBlank(customer.lastName)"
                              required
                              placeholder="Enter new Last Name">
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>

      <div>
        <b-row>
          <b-col class="text-xl-left" cols="4"><b>E-Mail</b></b-col>
          <b-col class="text-xl-center" cols="4">{{ this.customer.email }}</b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.mail size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>
        <b-collapse id="mail" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" @reset="resetMail" v-if="showMailForm">
              <b-form-group id="mailInputGroup"
                            label="New E-Mail"
                            label-for="mailInput">
                <b-form-input id="mailInput"
                              type="email"
                              v-model="customer.email"
                              :state="validEmail(customer.email)"
                              required
                              placeholder="Enter new E-Mail">
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>

      <div>
        <b-row>
          <b-col class="text-xl-left" cols="8">
            <b>Change Password</b>
          </b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.password size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>
        <b-collapse id="password" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" @reset="resetPassword" v-if="showPasswordForm">
              <b-form-group id="changePasswordGroup"
                            label="Actual Password"
                            label-for="actualPassword">
                <b-form-input id="actualPassword"
                              type="password"
                              v-model="password.actualPassword"
                              :state="checkActualPassword(password.actualPassword)"
                              placeholder="Enter actual password"
                              required>
                </b-form-input>
              </b-form-group>
              <b-form-group id="setNewPasswordGroup"
                            label="New Password"
                            label-for="newPassword">
                <b-form-input id="newPassword"
                              type="password"
                              v-model="password.newPassword"
                              :state="notBlank(password.newPassword)"
                              placeholder="Enter new password"
                              required>
                </b-form-input>
              </b-form-group>
              <b-form-group id="confirmNewPasswordGroup"
                            label="Confirm new Password"
                            label-for="confirmPassword">
                <b-form-input id="confirmPassword"
                              type="password"
                              v-model="password.confirmNewPassword"
                              :state="confirmedPassword(password.confirmNewPassword)"
                              placeholder="Confirm new password"
                              required>
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>

      <div>
        <b-row>
          <b-col class="text-xl-left" cols="4"><b>Birthdate</b></b-col>
          <b-col class="text-xl-center" cols="4">{{ new Date(this.customer.birthdate) | moment("DD/MM/YYYY") }}</b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.birthdate size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>
        <b-collapse id="birthdate" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" v-if="showBirthdateForm">
              <b-form-group id="birthdateInputGroup"
                            label="New birthdate"
                            label-for="birthdateInput">
                <b-form-input id="birthdateInput"
                              type="date"
                              v-model="customer.birthdate"
                              :state="validBirthdate(customer.birthdate)"
                              min="1900-01-01"
                              max="2003-12-31"
                              required
                              placeholder="New birthdate">
                </b-form-input>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>

      <div>
        <b-row>
          <b-col class="text-xl-left" cols="4"><b>Gender</b></b-col>
          <b-col class="text-xl-center" cols="4">{{ this.customer.gender }}</b-col>
          <b-col class="text-right" cols="4">
            <b-btn v-b-toggle.gender size="sm" variant="primary">Edit</b-btn>
          </b-col>
        </b-row>
        <b-collapse id="gender" class="mt-2">
          <b-card>
            <b-form @submit="onSubmit" v-if="showGenderForm">
              <b-form-group id="genderInputGroup"
                            label="New Gender"
                            label-for="genderInput">
                <b-form-radio-group id="genderRadios" v-model="customer.gender" :options="genderOptions" name="genderOptions">
                </b-form-radio-group>
              </b-form-group>
              <b-button type="submit" variant="primary">Change</b-button>
            </b-form>
          </b-card>
        </b-collapse>
        <br>
      </div>
    </b-container>
  </div>
</template>

<script>
  import CustomerService from '../services/CustomerService';
  import UserService from '../services/UserService';

  export default {
    name: 'CustomerProfile',
    mounted() {
      this.getCustomer();
    },
    data() {
      return {
        error: '',
        showErrorAlert: false,
        showSuccessAlert: false,
        showCustomerNameForm: true,
        showCustomerLastNameForm: true,
        showBirthdateForm: true,
        showMailForm: true,
        showPasswordForm: true,
        showGenderForm: true,
        feedbackMessage: '',
        customer: {},
        password: {
          actualPassword: '',
          newPassword: '',
          confirmNewPassword: '',
        },
        genderOptions: [
          { text: 'Female', value: 'f' },
          { text: 'Male', value: 'm' },
        ],
      };
    },
    methods: {
      async getCustomer() {
        try {
          const userInfoDto = await UserService.getUserInfo();
          this.customer = await CustomerService.getCustomer(userInfoDto.id);
        } catch (e) {
          this.error = e;
        }
      },
      notBlank(value) {
        return value !== undefined && value.length > 0;
      },
      checkActualPassword(value) {
        return value !== '' && value === this.customer.password;
      },
      confirmedPassword(value) {
        return value !== '' && value === this.password.newPassword;
      },
      validEmail(value) {
        const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return emailRegex.test(String(value).toLowerCase());
      },
      validBirthdate(value) {
        const birthdate = new Date(value);
        return birthdate >= new Date('1900-01-01') &&
          birthdate <= new Date('2003-12-31');
      },
      async onSubmit(evt) {
        evt.preventDefault();
        this.showErrorAlert = false;
        this.showSuccessAlert = false;
        if (this.password.newPassword !== '') {
          this.updateNewPassword();
        }
        try {
          const messageDto = await CustomerService.updateCustomer(this.customer);
          this.feedbackMessage = messageDto.message;
        } catch (e) {
          this.feedbackMessage = e;
        }
        this.$router.push('/');
      },
      resetCustomerName(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.customer.name = '';
        this.showCustomerNameForm = false;
        this.$nextTick(() => {
          this.showCustomerNameForm = true;
        });
      },
      resetCustomerLastName(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.customer.lastName = '';
        this.showCustomerLastNameForm = false;
        this.$nextTick(() => {
          this.showCustomerLastNameForm = true;
        });
      },
      resetMail(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.customer.email = '';
        this.showMailForm = false;
        this.$nextTick(() => {
          this.showMailForm = true;
        });
      },
      resetPassword(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.password.actualPassword = '';
        this.password.newPassword = '';
        this.password.confirmNewPassword = '';
        this.$nextTick(() => {
          this.showPasswordForm = true;
        });
      },
      updateNewPassword() {
        this.customer.password = this.password.newPassword;
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>
