<template>
  <b-container>
    <customer-user-navigation/>
    <div v-if="allBookedOffersByTimeSlotId.length > 0">
      <b-list-group v-for="offerBooked in allBookedOffersByTimeSlotId" :key="offerBooked.id">
        <b-list-group-item button @click="toOfferDetail(offerBooked.id)">
          <b-container>
            <b-row>
              <b-col v-if="((offerBooked.picture === '' || offerBooked.picture === null) &&  !(offerBooked.pictureUrl === ''))" class="text-center" cols="12" md="2">
                <img :src="offerBooked.pictureUrl" class="d-inline-block align-top" width="100px" height="100px" style="object-fit: cover">
              </b-col>
              <b-col v-if="(!(offerBooked.picture === '') && !(offerBooked.picture === null))" class="text-center" cols="12" md="2">
                <img :src="'data:image/jpeg;base64,' + offerBooked.picture" class="d-inline-block align-top" width="100px" height="100px" style="object-fit: cover">
              </b-col>
              <b-col v-if="((offerBooked.picture === '' || offerBooked.picture === null) && offerBooked.pictureUrl === '')" class="text-center" cols="12" md="2">
                <img src="/../../static/img/icons/apple-touch-icon.png" class="d-inline-block align-top" width="100px" height="100px" style="object-fit: cover">
              </b-col>
              <b-col cols="12" md="10">
                <b-row>
                  <b-col class="text-left" cols="8" md="8">
                    <h3 class="mb-1">{{ offerBooked.title }}</h3>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="text-left" cols="12" md="12">
                    {{ offerBooked.description }}
                  </b-col>
                </b-row>
                <br>
                <b-row>
                  <b-col class="text-left" cols="40" md="6">
                    <div v-for="timeslot in offerBooked.timeSlotList">
                      <strong v-if="allBookedReservationsTimeSlotIds.indexOf(timeslot.id) !== -1">
                        {{ new Date(timeslot.beg_date_time) | moment("MMMM Do YYYY, h:mm a")}} - {{ new Date(timeslot.end_date_time) | moment("MMMM Do YYYY, h:mm a")}}
                      </strong>
                    </div>
                  </b-col>
                  <b-col class="text-right" cols="40" md="6">
                    <strong>{{offerBooked.business.street}} {{offerBooked.business.streetNumber}}, {{offerBooked.business.zipCode}} {{offerBooked.business.city}}</strong>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-container>
        </b-list-group-item>
      </b-list-group>
    </div>
    <div v-else>
      <p><em>Currently no offers booked!</em></p>
    </div>
  </b-container>
</template>

<script>
import CustomerUserNavigation from './CustomerUserNavigation';
import ReservationService from '../services/ReservationService';
import OfferService from '../services/OfferService';
import router from '../router';
import UserService from '../services/UserService';

export default {
  name: 'CustomerUserBookedOffers',
  components: {
    CustomerUserNavigation,
  },
  async mounted() {
    await this.loadUserInfo();
    await this.getAllReservations();
  },
  data() {
    return {
      allBookedReservations: [],
      allBookedReservationsTimeSlotIds: [],
      allBookedOffersByTimeSlotId: [],
      customer_id: 0,
    };
  },
  methods: {
    async getAllReservations() {
      try {
        this.allBookedReservations =
          await ReservationService.getAllBookedReservations(this.customer_id);
        if (this.allBookedReservations.length > 0) {
          for (let i = 0; i < this.allBookedReservations.length; i += 1) {
            this.allBookedReservationsTimeSlotIds.push(this.allBookedReservations[i].timeSlot.id);
          }
          this.allBookedOffersByTimeSlotId =
            await OfferService.getOffersByTimeSlotIds(this.allBookedReservationsTimeSlotIds);
        }
      } catch (e) {
        this.error = e;
      }
    },
    async loadUserInfo() {
      const customerInfoDto = await UserService.getUserInfo();
      this.customer_id = customerInfoDto.id;
    },
    toOfferDetail(id) {
      router.push({ path: `/offer/${id}` });
    },
  },
};
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
</style>
