<template>
  <b-container>
    <h1>Customer Registration</h1>
    <div>
      <b-alert variant="success" :show="successFeedbackMessage !== ''" dismissible @dismissed="successFeedbackMessage = ''">{{ successFeedbackMessage }}</b-alert>
      <b-alert variant="danger" :show="errorFeedbackMessage !== ''" dismissible @dismissed="errorFeedbackMessage = ''">{{ errorFeedbackMessage }}</b-alert>
    </div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="showForm">
      <b-form-group id="usernameInputGroup"
                    label="Username"
                    label-for="usernameInput">
        <b-form-input id="usernameInput"
                      type="text"
                      v-model="form.username"
                      :state="notBlank(form.username)"
                      required
                      placeholder="Enter your username">
        </b-form-input>
      </b-form-group>
      <b-form-group id="passwordInputGroup"
                    label="Your password"
                    label-for="passwordInput">
        <b-form-input id="passwordInput"
                      type="password"
                      v-model="form.password"
                      :state="notBlank(form.password)"
                      required
                      placeholder="Enter your password">
        </b-form-input>
      </b-form-group>
      <b-form-group id="confirmPasswordInputGroup"
                    label="Your confirmed password"
                    label-for="confirmPasswordInput">
        <b-form-input id="confirmPasswordInput"
                      type="password"
                      v-model="form.confirmPassword"
                      :state="confirmedPassword(form.confirmPassword)"
                      required
                      placeholder="Confirm your password">
        </b-form-input>
      </b-form-group>
      <b-form-group id="emailInputGroup"
                    label="Your email"
                    label-for="emailInput">
        <b-form-input id="emailInput"
                      type="email"
                      v-model="form.email"
                      :state="validEmail(form.email)"
                      required
                      placeholder="Confirm your email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="firstNameInputGroup"
                    label="Your first name"
                    label-for="firstNameInput">
        <b-form-input id="firstNameInput"
                      type="text"
                      v-model="form.firstName"
                      :state="notBlank(form.firstName)"
                      required
                      placeholder="Your first name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="lastNameInputGroup"
                    label="Your last name"
                    label-for="lastNameInput">
        <b-form-input id="lastNameInput"
                      type="text"
                      v-model="form.lastName"
                      :state="notBlank(form.lastName)"
                      required
                      placeholder="Your last name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="birthdateInputGroup"
                    label="Your birthdate"
                    label-for="birthdateInput">
        <b-form-input id="birthdateInput"
                      type="date"
                      v-model="form.birthdate"
                      :state="validBirthdate(form.birthdate)"
                      min="1900-01-01"
                      max="2003-12-31"
                      required
                      placeholder="Your birthdate">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Gender">
        <b-form-radio-group id="genderRadios" v-model="form.gender" :options="genderOptions" name="genderOptions">
        </b-form-radio-group>
      </b-form-group>
      <b-form-group id="termsAndConditionsCheckbox">
          <b-form-checkbox required>I agree with the <a href="#" @click="showModal">terms and conditions</a>.</b-form-checkbox>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <b-modal ref="termsAndConditionsModal" title="Terms and conditions">
      <p class="my-4">Terms and conditions comes here...</p>
    </b-modal>
  </b-container>
</template>

<script>

  import UserService from '../services/UserService';

  export default {
    name: 'customerRegistration',
    data() {
      return {
        form: {
          username: '',
          password: '',
          confirmPassword: '',
          email: '',
          firstName: '',
          lastName: '',
          birthdate: null,
          gender: '',
        },
        customer: {
          username: '',
          password: '',
          email: '',
          firstName: '',
          lastName: '',
          birthdate: null,
          gender: '',
        },
        showForm: true,
        errorFeedbackMessage: '',
        successFeedbackMessage: '',
        genderOptions: [
          { text: 'Female', value: 'f' },
          { text: 'Male', value: 'm' },
        ],
      };
    },
    methods: {
      notBlank(value) {
        return value.length > 0;
      },
      validEmail(value) {
        const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return emailRegex.test(String(value).toLowerCase());
      },
      confirmedPassword(value) {
        return value !== '' && value === this.form.password;
      },
      validBirthdate(value) {
        const birthdate = new Date(value);
        return birthdate >= new Date('1900-01-01') &&
          birthdate <= new Date('2003-12-31');
      },
      async onSubmit(evt) {
        evt.preventDefault();

        if(this.form.password !== this.form.confirmPassword) {
          return;
        }

        this.convertFormToCustomer();

        try {
          const messageDto = await UserService.register('customer', this.customer);
          this.successFeedbackMessage = messageDto.message;
          this.clearForm();
        } catch (e) {
          this.errorFeedbackMessage = e;
        }
      },
      onReset(evt) {
        evt.preventDefault();
        /* Reset our form values */
        this.clearForm();
        /* Trick to reset/clear native browser form validation state */
        this.showForm = false;
        this.$nextTick(() => { this.showForm = true; });
      },
      convertFormToCustomer() {
        this.customer.username = this.form.username;
        this.customer.password = this.form.password;
        this.customer.email = this.form.email;
        this.customer.firstName = this.form.firstName;
        this.customer.lastName = this.form.lastName;
        this.customer.gender = this.form.gender;
        this.customer.birthdate = this.form.birthdate;
      },
      showModal() {
        this.$refs.termsAndConditionsModal.show();
      },
      clearForm() {
        this.form.username = '';
        this.form.password = '';
        this.form.confirmPassword = '';
        this.form.email = '';
        this.form.firstName = '';
        this.form.lastName = '';
        this.form.birthdate = null;
        this.form.gender = '';
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
</style>
