<template>
  <b-container>
    <customer-user-navigation/>
    <div v-if="allOffersByTimeSlotId.length > 0">
      <b-list-group v-for="reservation in allOffersByTimeSlotId" :key="reservation.id">
        <b-list-group-item>
          <b-container>
            <b-row>
              <b-col class="text-center" cols="12" md="11" style="cursor:pointer" @click="toOfferDetail(reservation.id)">
              <b-col cols="12" md="10">
                <b-row>
                  <b-col v-if="((reservation.picture === '' || reservation.picture === null) &&  !(reservation.pictureUrl === ''))" class="text-center" cols="12" md="2">
                    <img :src="reservation.pictureUrl" class="d-inline-block align-top" width="100px" height="100px" style="object-fit: cover">
                  </b-col>
                  <b-col v-if="(!(reservation.picture === '') && !(reservation.picture === null))" class="text-center" cols="12" md="2">
                    <img :src="'data:image/jpeg;base64,' + reservation.picture" class="d-inline-block align-top" width="100px" height="100px" style="object-fit: cover">
                  </b-col>
                  <b-col v-if="((reservation.picture === '' || reservation.picture === null) && reservation.pictureUrl === '')" class="text-center" cols="12" md="2">
                    <img src="/../../static/img/icons/apple-touch-icon.png" class="d-inline-block align-top" width="100px" height="100px" style="object-fit: cover">
                  </b-col>
                  <b-col cols="10" md="10">
                    <b-row>
                      <b-col class="text-left" cols="8" md="8">
                        <h3 class="mb-1">{{ reservation.title }}</h3>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col class="text-left" cols="12" md="12">
                        {{ reservation.description }}
                      </b-col>
                    </b-row>
                    <br>
                    <b-row>
                      <b-col class="text-left" cols="40" md="6">

                      </b-col>
                      <b-col class="text-right" cols="40" md="6">
                        <strong>{{reservation.business.street}} {{reservation.business.streetNumber}}, {{reservation.business.zipCode}} {{reservation.business.city}}</strong>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
              </b-col>
              <b-col cols="2" md="1">
                <b-row>
                  <b-button style="z-index: 999" variant="primary" @click="removeFromWishlist(reservation.id)">Remove</b-button>
                </b-row>
              </b-col>
            </b-row>
          </b-container>
        </b-list-group-item>
      </b-list-group>
    </div>
    <div v-else>
      <p><em>Currently no offers in wishlist!</em></p>
    </div>
  </b-container>
</template>

<script>
import CustomerUserNavigation from './CustomerUserNavigation';
import ReservationService from '../services/ReservationService';
import OfferService from '../services/OfferService';
import router from '../router';
import UserService from '../services/UserService';

export default {
  name: 'CustomerUserReservedOffers',
  components: {
    CustomerUserNavigation,
  },
  async mounted() {
    await this.loadUserInfo();
    await this.getAllReservations();
  },
  data() {
    return {
      allReservations: [],
      allReservationsTimeSlotIds: [],
      allOffersByTimeSlotId: [],
      customer_id: 0,
    };
  },
  methods: {
    async getAllReservations() {
      try {
        this.allReservations = [];
        this.allReservationsTimeSlotIds = [];
        this.allOffersByTimeSlotId = [];
        this.allReservations =
          await ReservationService.getAllReservations(this.customer_id);
        if (this.allReservations.length > 0) {
          for (let i = 0; i < this.allReservations.length; i += 1) {
            this.allReservationsTimeSlotIds.push(this.allReservations[i].timeSlot.id);
          }
          this.allOffersByTimeSlotId =
            await OfferService.getOffersByTimeSlotIds(this.allReservationsTimeSlotIds);
        }
      } catch (e) {
        this.error = e;
      }
    },
    async loadUserInfo() {
      const customerInfoDto = await UserService.getUserInfo();
      this.customer_id = customerInfoDto.id;
    },
    async removeFromWishlist(offerId) {
      try {
        await ReservationService.deleteFromWishlist(this.customer_id, offerId);
        await this.getAllReservations();
      } catch (e) {
        this.feedbackMessage = e;
        this.showErrorAlert = true;
        this.showSuccessAlert = false;
      }
    },
    toOfferDetail(id) {
      router.push({ path: `/offer/${id}` });
    },
  },
};
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
</style>
