<template>
  <b-jumbotron>
    <template slot="header">
      Last Minute Deal
    </template>
    <template slot="lead">
      As a customer get the best last minute deals! For sure!<br/>
      As a business use your resources most efficiently! For sure!
    </template>
    <hr class="my-4">
    <p>
      You can get the best last minute deals in town as a customer. You can use your resources most efficiently as a business.<br/>
      Last Minute Deal is for both of you! For sure!
    </p>
    <b-btn variant="primary" :to="{path: '/customer_registration'}">Customer Sign up</b-btn>
    <b-btn variant="success" :to="{path: '/business_registration'}">Business Sign up</b-btn>
  </b-jumbotron>
</template>

<script>
  import UserService from '../services/UserService';
  import BusinessRecommendations from './BusinessRecommendations';

  export default {
    name: 'home',
    components: { BusinessRecommendations },
    async mounted() {
      this.loggedIn = await UserService.isAuthenticated();
      if (this.loggedIn) {
        this.setUserData();
      }
    },
    data() {
      return {
        appName: 'Last Minute Deal',
        userInfoDto: {},
        loggedIn: false,
        error: '',
      };
    },
    methods: {
      async setUserData() {
        try {
          this.userInfoDto = await UserService.getUserInfo();
        } catch (e) {
          this.error = e;
        }
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'

</style>
