<template>
  <b-navbar toggleable="md" type="dark" variant="dark">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand  :to="{path: '/'}">
      <img src="../assets/logo.png" class="d-inline-block align-top" width="40px" height="40px">
    </b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav v-if="!loggedIn">
        <b-nav-item :to="{path: '/offer'}">Offers</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="loggedIn">
        <div v-if="userInfoDto.userType === 'CUSTOMER'">
          <b-nav-item :to="{path: '/offer'}">Offers</b-nav-item>
        </div>
        <div v-if="userInfoDto.userType === 'BUSINESS'">
          <b-nav-item :to="{path: '/offer/new'}">New Offer</b-nav-item>
        </div>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">

        <b-alert class="loginFeedback" variant="danger" :show="errorFeedbackMessage !== ''" dismissible @dismissed="errorFeedbackMessage = ''">{{ errorFeedbackMessage }}</b-alert>
        <b-alert class="loginFeedback" variant="success" :show="successFeedbackMessage !== ''" dismissible @dismissed="successFeedbackMessage = ''">{{ successFeedbackMessage }}</b-alert>

        <b-nav-form v-if="!loggedIn">
          <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Username" v-model="loginData.username" required/>
          <b-form-input size="sm" class="mr-sm-2" type="password" placeholder="Password" v-model="loginData.password" required/>
          <b-button size="sm" class="my-2 my-sm-0" type="submit" @click="sendLogin()">Login</b-button>
        </b-nav-form>

        <b-nav-item-dropdown v-if="!loggedIn" text="Registration" right>
          <b-dropdown-item :to="{path: '/customer_registration'}">Customer</b-dropdown-item>
          <b-dropdown-item :to="{path: '/business_registration'}">Business</b-dropdown-item>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown v-if="loggedIn" right>
          <template slot="button-content">
            <em>{{ userInfoDto.username }}</em>
          </template>
          <div v-if="userInfoDto.userType === 'BUSINESS'">
            <b-dropdown-item :to="{path: '/business_user_actual_offers'}">Overview</b-dropdown-item>
            <b-dropdown-item :to="{path: '/business_profile'}">Profile</b-dropdown-item>
          </div>
          <div v-if="userInfoDto.userType === 'CUSTOMER'">
            <b-dropdown-item :to="{path: '/customer_user_reserved_offers'}">Overview</b-dropdown-item>
            <b-dropdown-item :to="{path: '/business_recommendations'}">Recommendations</b-dropdown-item>
            <b-dropdown-item :to="{path: '/customer_profile'}">Profile</b-dropdown-item>
          </div>
          <div v-if="userInfoDto.userType === 'ADMIN'">
            <b-dropdown-item :to="{path: '/admin_overview'}">Admin Area</b-dropdown-item>
          </div>
          <b-dropdown-item @click="sendLogout()">Signout</b-dropdown-item>
        </b-nav-item-dropdown>

      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
  import UserService from '../services/UserService';
  import router from '../router';

  export default {
    name: 'navigation',
    async mounted() {
      this.loggedIn = await UserService.isAuthenticated();
      if (this.loggedIn) {
        this.setUserData();
      }
    },
    data() {
      return {
        loggedIn: false,
        loginData: {
          username: '',
          password: '',
        },
        userInfoDto: {},
        errorFeedbackMessage: '',
        successFeedbackMessage: '',
      };
    },
    methods: {
      routeUserToSpecificPage() {
        if (this.userInfoDto.userType === 'CUSTOMER') {
          router.push({ path: '/customer_user_reserved_offers' });
        } else if (this.userInfoDto.userType === 'BUSINESS') {
          router.push({ path: '/business_user_actual_offers' });
        } else if (this.userInfoDto.userType === 'ADMIN') {
          router.push({ path: '/admin_overview' });
        }
      },
      async sendLogin() {
        try {
          await UserService.login(this.loginData.username, this.loginData.password);
          this.loggedIn = true;
          await this.setUserData();
          this.routeUserToSpecificPage();
        } catch (e) {
          this.loggedIn = false;
          this.errorFeedbackMessage = e;
        }
      },
      async setUserData() {
        try {
          this.userInfoDto = await UserService.getUserInfo();
        } catch (e) {
          this.errorFeedbackMessage = e;
        }
      },
      async sendLogout() {
        try {
          await UserService.getUserInfo();
        } catch (e) {
          UserService.removeAuthToken();
          this.userInfoDto = {};
          this.loggedIn = false;
          return;
        }
        try {
          const messageDto = await UserService.logout();
          this.successFeedbackMessage = messageDto.message;
          this.userInfoDto = {};
          this.loggedIn = false;
        } catch (e) {
          this.loggedIn = false;
          this.errorFeedbackMessage = e;
        }
      },
    },
  };
</script>

<style scoped>
  .loginFeedback {
    position: absolute;
    top: 80px;
    right: 15px;
  }
</style>
