<template>
  <b-container>
    <div class="filterAndSortContainer" v-if="isAuthenticated()">
      <div class="categorySelectionContainer">
        <b-form-group label="Categories">
          <b-form-checkbox-group buttons size="sm"
                                 @input="updateDisplayedOffers()"
                                 v-model="selectedCategories"
                                 :options="categoryOptions">
          </b-form-checkbox-group>
        </b-form-group>
      </div>
      <div class="sortContainer">
        <label>Sorting</label>
        <b-row>
          <b-col>
            <b-form-group>
              <b-form-radio-group buttons size="sm"
                                  @input="sortDisplayedOffers()"
                                  v-model="selectedSortingOrder"
                                  :options="sortingOrderOptions">
              </b-form-radio-group>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <b-form-radio-group buttons size="sm"
                                  @input="sortDisplayedOffers()"
                                  v-model="selectedSortingType"
                                  :options="sortingOptions">
              </b-form-radio-group>
            </b-form-group>
          </b-col>
          <b-col>
            <b-button @click="resetSortingOptions()" size="sm" variant="danger">Reset</b-button>
          </b-col>
        </b-row>
      </div>
      <div class="searchBarContainer">
        <b-input-group>
          <b-input-group-text slot="append">
            <i class="fas fa-search"></i>
          </b-input-group-text>
          <b-form-input @input="updateDisplayedOffers()" v-model="searchTerm"></b-form-input>
        </b-input-group>
      </div>
    </div>
    <div class="offerContainer">
        <div v-for="offer in displayedOffers" :key="offer.id">
          <offer-component
          :title="offer.title"
          :price="offer.price"
          :discount="offer.discount"
          :amount="offer.amount"
          :category-name="offer.category.name"
          :picture-url="offer.pictureUrl"
          :picture="offer.picture"
          :valid-until="offer.validUntil"
          :description="offer.description"
          :id="offer.id"
          :disabled="!isAuthenticated()"
          v-on:offer-detail="toOfferDetail(offer.id)"
          ></offer-component>
        </div>
    </div>
  </b-container>
</template>

<script>
  import OfferService from '../services/OfferService';
  import UserService from '../services/UserService';
  import router from '../router';
  import OfferComponent from './OfferComponent';

  export default {
    name: 'offer',
    components: { OfferComponent },
    async mounted() {
      await this.getAllOffers();
      this.calculateAmountForEachOffer();
      await this.getAllCategories();
      this.updateDisplayedOffers();
    },
    data() {
      return {
        allOffers: [],
        displayedOffers: [],
        allCategories: [],
        categoryOptions: [],
        selectedCategories: [],
        searchTerm: '',
        selectedSortingOrder: '',
        sortingOrderOptions: [
          { text: '<i class="fas fa-arrow-down"></i>', value: 'desc' },
          { text: '<i class="fas fa-arrow-up"></i>', value: 'asc' },
        ],
        selectedSortingType: '',
        sortingOptions: [
          { text: 'Expiration Date', value: 'validUntil' },
          { text: 'Price', value: 'price' },
          { text: 'Discount', value: 'discount' },
          { text: 'Amount', value: 'amount' },
        ],
        error: '',
      };
    },
    methods: {
      async getAllOffers() {
        try {
          this.allOffers = await OfferService.getAllOffers();
        } catch (e) {
          this.error = e;
        }
      },
      calculateAmountForEachOffer() {
        this.allOffers.forEach((element) => {
          // eslint-disable-next-line no-param-reassign
          element.amount = 0;

          if (element.timeSlotList) {
            element.timeSlotList.forEach((ts) => {
              // eslint-disable-next-line no-param-reassign
              element.amount += ts.quantity_total - ts.quantity_booked;
            });
          }
        });
      },
      toOfferDetail(id) {
        router.push({ path: `/offer/${id}` });
      },
      isAuthenticated() {
        return UserService.isAuthenticated();
      },
      async getAllCategories() {
        try {
          this.allCategories = await OfferService.getAllCategories();
          this.allCategories.forEach((element) => {
            this.categoryOptions.push({ text: element.name, value: element.name });
            this.selectedCategories.push(element.name);
          });
        } catch (e) {
          this.error = e;
        }
      },
      updateDisplayedOffers() {
        if (this.isAuthenticated()) {
          this.displayedOffers = [];
          this.allOffers.forEach((offer) => {
            this.selectedCategories.forEach((category) => {
              if (category === offer.category.name &&
                (offer.title.toLowerCase().includes(this.searchTerm.toLowerCase()) ||
                  offer.description.toLowerCase().includes(this.searchTerm.toLowerCase()))) {
                this.displayedOffers.push(offer);
              }
            });
          });
        } else {
          this.displayedOffers = this.allOffers.slice();
        }
      },
      sortDisplayedOffers() {
        if (this.selectedSortingType !== '' && this.selectedSortingOrder !== '') {
          this.displayedOffers.sort(this.sortBy(this.selectedSortingType, this.selectedSortingOrder));
        }
      },
      sortBy(field, asc) {
        return function sort(a, b) {
          if (a[field] > b[field]) {
            return asc === 'asc' ? 1 : -1;
          } else if (a[field] < b[field]) {
            return asc === 'asc' ? -1 : 1;
          }
          return 0;
        };
      },
      resetSortingOptions() {
        this.selectedSortingOrder = '';
        this.selectedSortingType = '';
        this.displayedOffers = this.allOffers.slice();
        this.updateDisplayedOffers();
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>
