<template>

</template>

<script>
  export default {
    name: 'offerEdit',
    mounted() {
      this.loadOffer();
    },
    data() {
      return {
        offer: {},
      };
    },
    methods: {
      loadOffer() {

      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'

</style>
