<template>
  <b-container>
    <b-card :title="offer.title"
            footer-tag="footer"
            header-tag="header">
      <br>
      <b-container>
        <b-row>
          <b-col cols="12" md="8">
            <p class="card-text">
              {{offer.description}}
            </p>
          </b-col>
          <b-col v-if="((offer.picture === '' || offer.picture === null) && !(offer.pictureUrl === ''))" class="text-right" cols="12" md="4">
            <img :src="offer.pictureUrl" class="d-inline-block align-top" width="250px" height="250px" style="object-fit: cover">
          </b-col>
          <b-col v-if="(!(offer.picture === '') && !(offer.picture === null))" class="text-right" cols="12" md="4">
            <img :src="'data:image/jpeg;base64,' + offer.picture" class="d-inline-block align-top" width="250px" height="250px" style="object-fit: cover">
          </b-col>
          <b-col v-if="((offer.picture === '' || offer.picture === null) && offer.pictureUrl === '')" class="text-right" cols="12" md="4">
            <img src="/../../static/img/icons/apple-touch-icon.png" class="d-inline-block align-top" width="250px" height="250px" style="object-fit: cover">
          </b-col>
        </b-row>
      </b-container>
      <br>
      <b-container>
        <div id="google-map"></div>
      </b-container>
      <br>
      <b-container>
        <b-card title="Time Slot Selection"
                sub-title="Select the time slot which suits best">
          <b-row v-if="confirm">
            <b-col class="text-center" cols="12">
              <b>Are you sure?</b>
            </b-col>
          </b-row>
          <b-row v-if="confirm">
            <b-col cols="5">
              {{ new Date(selectedTimeSlot.beg_date_time) | moment("MMMM Do YYYY, h:mm a")}} - {{new Date(selectedTimeSlot.end_date_time) | moment("MMMM Do YYYY, h:mm a") }}
            </b-col>
            <br>
            <b-col cols="1">
              <b-button variant="primary" @click="saveBooking()">Yes</b-button>
            </b-col>
            <b-col cols="1">
              <b-button variant="danger" @click="disableConfirm()">No</b-button>
            </b-col>
            <b-col cols="5">
            </b-col>
          </b-row>
          <div>
            <b-alert variant="success" :show="showSuccessAlert" dismissible>{{ feedbackMessage }}</b-alert>
            <b-alert variant="danger" :show="showErrorAlert" dismissible>{{ feedbackMessage }}</b-alert>
          </div>
          <b-row>
            <b-col>
              <b-list-group v-for="timeslot in this.timeSlots" :key="timeslot.id">
                <b-list-group-item v-if="!confirm" button @click="confirmReservation(timeslot, offer.id)" :disabled="(timeslot.quantity_total-timeslot.quantity_booked) == 0 ? true : false">{{new Date(timeslot.beg_date_time) | moment("MMMM Do YYYY, h:mm a")}} - {{new Date(timeslot.end_date_time) | moment("MMMM Do YYYY, h:mm a")}}</b-list-group-item>
                <b-badge v-if="!confirm" variant="primary" pill>Slots available: {{timeslot.quantity_total-timeslot.quantity_booked}}</b-badge>
              </b-list-group>
            </b-col>
          </b-row>
        </b-card>
      </b-container>
      <div slot="header">
        <b-container>
          <b-row>
            <b-col class="text-left" cols="4">
              <small>expires {{new Date(offer.validUntil) | moment("from", "now")}}</small>
            </b-col>
            <b-col class="text-center" cols="4">
              <small>{{ offer.amount }} left</small>
            </b-col>
            <b-col class="text-right" cols="4">
              <b-badge variant="info">{{ offer.category !== undefined ? offer.category.name : '' }}</b-badge>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <div slot="footer">
        <b-container>
          <b-row>
            <b-col class="text-left" cols="4">
              <strong class="green-text big-text">{{ ((offer.price / 100) * ((100 - offer.discount) / 100)).toFixed(2) }}&euro;</strong>
              <small class="red-text small-text"><del>{{ offer.price/100 }}&euro;</del></small>
            </b-col>
            <b-col class="text-left" cols="2">
              <strong class="big-text"><b>{{ offer.discount }}% off</b></strong>
            </b-col>
            <b-col class="text-right" cols="6">
              <b-button v-if="!addedToWishlist" variant="primary" @click="saveReservation()">Add to Wishlist</b-button>
              <b-button v-if="addedToWishlist" disabled variant="primary">Added to Wishlist</b-button>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </b-card>
  </b-container>
</template>

<script>
  import OfferService from '../services/OfferService';
  import CustomerService from '../services/CustomerService';
  import UserService from '../services/UserService';
  import router from '../router';

  export default {
    name: 'offerDetail',
    async mounted() {
      await this.getCustomer();
      await this.loadOffer();
      this.calculateAmountForEachOffer();
    },
    updated() {
      this.initMap();
    },
    data() {
      return {
        offer: {},
        timeSlots: [],
        selectedTimeSlot: {},
        reservation: {
          state: 0,
          reservedAt: new Date(),
          customer: {},
          timeSlot: {},
        },
        stateOptions: [
          { text: 'Wishlist', value: 0 },
          { text: 'Booking', value: 2 },
        ],
        error: '',
        showErrorAlert: false,
        showSuccessAlert: false,
        feedbackMessage: '',
        addedToWishlist: false,
        confirm: false,
        timeSlotId: 0,
        offerId: 0,
      };
    },
    methods: {
      toAlsoBooked(id) {
        router.push({ path: `/also_booked/${id}` });
      },
      calculateAmountForEachOffer() {
        this.offer.amount = 0;

        if (this.offer.timeSlotList) {
          this.offer.timeSlotList.forEach((ts) => {
            // eslint-disable-next-line no-param-reassign
            this.offer.amount += ts.quantity_total - ts.quantity_booked;
          });
        }
      },
      initMap() {
        // eslint-disable-next-line
        const uluru = { lat: this.offer.latitude, lng: this.offer.longitude };
        // eslint-disable-next-line
        const map = new google.maps.Map(document.getElementById('google-map'), { zoom: 14, center: uluru });
        // eslint-disable-next-line
        const marker = new google.maps.Marker({ position: uluru, map });
      },
      async getCustomer() {
        try {
          const userInfoDto = await UserService.getUserInfo();
          this.reservation.customer = await CustomerService.getCustomer(userInfoDto.id);
        } catch (e) {
          this.error = e;
        }
      },
      async loadOffer(id) {
        try {
          if (id) {
            this.offer = await OfferService.getOffer(id);
            this.getTimeSlots(id);
          } else {
            this.offer = await OfferService.getOffer(this.$route.params.id);
            this.getTimeSlots(this.offer.id);
          }
        } catch (e) {
          this.error = e;
        }
      },
      async getTimeSlots(id) {
        try {
          this.timeSlots = await OfferService.getTimeSlotsByOfferId(id);
        } catch (e) {
          this.error = e;
        }
      },
      async confirmReservation(timeslot, offerid) {
        this.selectedTimeSlot = timeslot;
        this.selectedTimeSlot.offer = this.offer;
        this.reservation.timeSlot = this.selectedTimeSlot;
        this.offerId = offerid;
        this.confirm = true;
      },
      async saveReservation() {
        try {
          this.showErrorAlert = false;
          this.showSuccessAlert = false;
          this.reservation.state = 0;

          this.selectedTimeSlot = this.timeSlots[0];
          this.selectedTimeSlot.offer = this.offer;
          this.reservation.timeSlot = this.selectedTimeSlot;
          this.offerId = this.offer.id;

          await OfferService.saveReservation(this.reservation);
          this.addedToWishlist = true;
          this.confirm = false;
        } catch (e) {
          this.feedbackMessage = e;
          this.showErrorAlert = true;
          this.showSuccessAlert = false;
        }
      },
      async saveBooking() {
        try {
          this.showErrorAlert = false;
          this.showSuccessAlert = false;
          this.reservation.state = 2;
          await OfferService.saveReservation(this.reservation);
          this.confirm = false;
          this.feedbackMessage = 'Reservation booked. Have fun!';
          this.showErrorAlert = false;
          this.showSuccessAlert = true;
          this.getTimeSlots(this.offerId);
          this.toAlsoBooked(this.offer.business.id);
        } catch (e) {
          this.feedbackMessage = e;
          this.showErrorAlert = true;
          this.showSuccessAlert = false;
        }
      },
      disableConfirm() {
        this.confirm = false;
      },
    },
    beforeRouteUpdate(to, from, next) {
      this.loadOffer(to.params.id);
      next();
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'

  .big-text
    font-size: 25px

  .small-text
    font-size: 20px

  #google-map
    width: 100%
    height: 200px
</style>
