<template>
  <b-container class="newOffer">
    <div>
      <b-alert variant="success" :show="showSuccessAlert" dismissible>{{ feedbackMessage }}</b-alert>
      <b-alert variant="danger" :show="showErrorAlert" dismissible>{{ feedbackMessage }}</b-alert>
    </div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="showForm">
      <b-form-group id="categoryInputGroup"
                    label="Category"
                    label-for="categoryInput">
        <b-form-select v-model="offer.category.id" :options="categories" value-field="id" text-field="name" class="mb-3" required>
        </b-form-select>
      </b-form-group>
      <b-form-group id="titleInputGroup"
                    label="Title"
                    label-for="titleInput">
        <b-form-input id="titleInput"
                      type="text"
                      v-model="offer.title"
                      required
                      placeholder="Enter title here">
        </b-form-input>
      </b-form-group>
      <b-form-group id="descriptionInputGroup"
                    label="Description"
                    label-for="descriptionInput">
        <b-form-textarea id="descriptionInput"
                      v-model="offer.description"
                      :rows="3"
                      required
                      placeholder="Enter description here">
        </b-form-textarea>
      </b-form-group>
      <b-form-group id="pictureUrlInputGroup"
                    label="Picture URL"
                    label-for="pictureUrlInput">
        <b-form-input id="pictureUrlInput"
                      type="text"
                      v-model="offer.pictureUrl"
                      placeholder="Enter picture URL here">
        </b-form-input>
      </b-form-group>
      <b-form-group id="pictureUploadGroup"
                    label="Picture Upload"
                    label-for="pictureUpload">
        <!-- <b-form-file id="pictureUpload" v-model="offer.picture" :state="Boolean(offer.picture)" placeholder="Choose a file..." ref="fileinput"></b-form-file>
        <div class="mt-3">Selected file: {{offer.picture && offer.picture.name}}</div> -->
        <file-base64
          v-bind:multiple="false"
          v-bind:done="getFile">
        </file-base64>
      </b-form-group>
      <b-form-group id="latitudeInputGroup"
                    label="Latitude"
                    label-for="latitudeInput">
        <b-form-input id="latitudeInput"
                      type="number"
                      v-model="offer.latitude"
                      step="0.000001"
                      required
                      placeholder="48.210033">
        </b-form-input>
      </b-form-group>
      <b-form-group id="LongitudeInputGroup"
                    label="Longitude"
                    label-for="longitudeInput">
      <b-form-input id="LongitudeInput"
                    type="number"
                    v-model="offer.longitude"
                    step="0.000001"
                    required
                    placeholder="16.363449">
      </b-form-input>
    </b-form-group>
      <b-form-group id="priceInputGroup"
                    label="Price"
                    label-for="priceInput">
        <b-form-input id="priceInput"
                      type="number"
                      v-model="offer.price"
                      required
                      placeholder="0"
                      :step="0.01"
                      :min="0.01">
        </b-form-input>
      </b-form-group>
      <b-form-group id="discountInputGroup"
                    label="Discount %"
                    label-for="discountInput">
        <b-form-input id="discountInput"
                      type="number"
                      v-model="offer.discount"
                      required
                      placeholder="0"
                      :step="0.01"
                      :min="0.01"
                      :max="100">
        </b-form-input>
      </b-form-group>
      <b-form-group id="validUntilDateInputGroup"
                    label="Valid until date"
                    label-for="validUntilDateInput">
        <b-form-input id="validUntilDateInput"
                      type="date"
                      placeholder="Valid until date"
                      v-model="tempDate">
        </b-form-input>
      </b-form-group>
      <b-form-group id="validUntilTimeInputGroup"
                    label="Valid until time"
                    label-for="validUntilTimeInput">
        <b-form-input id="validUntilTimeInput"
                      type="text"
                      placeholder="HH:MM:SS"
                      v-model="tempTime">
        </b-form-input>
      </b-form-group>
      <b-table hover :items="timeSlotGUIList" :fields="fields">
        <template slot="actions" slot-scope="item">
          <b-btn size="sm" @click="remove(item.index)">Delete this Slot</b-btn>
        </template>
      </b-table>
      <b-card bg-variant="light">
        <b-form-group id="timeSlotInputGroup"
                      label="Time Slots">
          <b-form-group id="timeSlotBeginDateGroup" label="Begin Date"
                        label-for="timeSlotBeginDateInput">
            <b-form-input id="timeSlotBeginDateInput"
                          type="date"
                          placeholder="Begin Date"
                          v-model="timeSlotBeginDate">
            </b-form-input>
          </b-form-group>
          <b-form-group id="timeSlotEndDateGroup" label="End Date"
                        label-for="timeSlotEndDateInput">
            <b-form-input id="timeSlotEndDateInput"
                          type="date"
                          placeholder="End Date"
                          v-model="timeSlotEndDate">
            </b-form-input>
          </b-form-group>
          <b-form-group id="timeSlotBeginTimeGroup" label="Begin Time"
                        label-for="timeSlotBeginTimeInput">
            <b-form-input id="timeSlotBeginTimeInput"
                          type="text"
                          placeholder="HH:MM:SS"
                          v-model="timeSlotBeginTime">
            </b-form-input>
          </b-form-group>
          <b-form-group id="timeSlotEndTimeGroup" label="End Time"
                        label-for="timeSlotEndTimeInput">
            <b-form-input id="timeSlotEndTimeInput"
                          type="text"
                          placeholder="HH:MM:SS"
                          v-model="timeSlotEndTime">
            </b-form-input>
          </b-form-group>
          <b-form-group id="quantityTotalGroup" label="Quantity"
                        label-for="quantityTotalInput">
            <b-form-input id="quantityTotalInput"
                          type="number"
                          placeholder="Quantity"
                          v-model="timeSlotList.quantity_total">
            </b-form-input>
          </b-form-group>
        </b-form-group>
        <b-button @click="addTimeSlot()">Add Time Slot</b-button>
      </b-card>
      <br />
      <b-button type="submit" variant="primary" align-h="center">Submit</b-button>
      <b-button type="reset" variant="danger" align-h="center">Reset</b-button>
    </b-form>
  </b-container>
</template>

<script>
  import moment from 'moment';
  import fileBase64 from 'vue-file-base64';
  import OfferService from '../services/OfferService';
  import BusinessService from '../services/BusinessService';
  import UserService from '../services/UserService';

  export default {
    name: 'offerNew',
    components: { fileBase64 },
    mounted() {
      this.loadCategories();
      this.getBusiness();
    },
    data() {
      return {
        tempDate: new Date(),
        selected: null,
        tempTime: '',
        timeSlotBeginDate: new Date(),
        timeSlotEndDate: new Date(),
        timeSlotBeginTime: '',
        timeSlotEndTime: '',
        timeSlotList: {
          beg_date_time: new Date(),
          end_date_time: new Date(),
          quantity_total: 0,
          quantity_booked: 0,
        },
        timeSlotGUI: {
          date: '',
          beg_time: '',
          end_time: '',
          quantity_total: 0,
        },
        timeSlotGUIList: [],
        offer: {
          business: {},
          category: {
            id: 1,
            name: '',
          },
          title: '',
          description: '',
          pictureUrl: '',
          picture: '',
          latitude: 48.210033,
          longitude: 16.363449,
          price: 0,
          discount: 0,
          amount: 1,
          validUntil: new Date(),
          timeSlotList: [],
        },
        showForm: true,
        showErrorAlert: false,
        showSuccessAlert: false,
        feedbackMessage: '',
        categories: [],
        fields: {
          begin_date: {
            label: 'Date',
            sortable: true,
          },
          end_date: {
            label: 'Date',
            sortable: true,
          },
          beg_time: {
            label: 'Begin time',
          },
          end_time: {
            label: 'End time',
          },
          quantity_total: {
            label: 'Slot Quantity Total',
          },
          actions: {
            label: 'Actions',
          },
        },
      };
    },
    methods: {
      async onSubmit(evt) {
        evt.preventDefault();

        // TODO validate inputs

        try {
          const o = this.offer;
          o.price = Number(o.price.replace(/,/g, '.')) * 100;
          o.amount = Number(o.amount);
          o.discount = Number(o.discount.replace(/,/g, '.'));
          o.validUntil = moment(`${this.tempDate.toString()}T${this.tempTime}`).toDate();
          await OfferService.saveOffer(o);
        } catch (e) {
          this.feedbackMessage = e;
          this.showErrorAlert = true;
          this.showSuccessAlert = false;
        }
      },
      onReset(evt) {
        evt.preventDefault();
        this.offer = {
          title: '',
          description: '',
          pictureUrl: '',
          price: 0,
          discount: 0,
          amount: 1,
          validUntil: new Date(),
          picture: '',
        };
        this.$refs.fileinput.reset();
        this.showForm = false;
        this.$nextTick(() => { this.showForm = true; });
      },
      async addTimeSlot() {
        const t = Object.assign({}, this.timeSlotList);
        t.beg_date_time = moment(`${this.timeSlotBeginDate.toString()}T${this.timeSlotBeginTime}`).toDate();
        t.end_date_time = moment(`${this.timeSlotEndDate.toString()}T${this.timeSlotEndTime}`).toDate();
        this.offer.timeSlotList.push(t);
        const tGui = Object.assign({}, this.timeSlotGUI);
        tGui.beg_time = this.timeSlotBeginTime;
        tGui.end_time = this.timeSlotEndTime;
        tGui.begin_date = this.timeSlotBeginDate.toString();
        tGui.end_date = this.timeSlotEndDate.toString();
        tGui.quantity_total = this.timeSlotList.quantity_total;
        this.timeSlotGUIList.push(tGui);
      },
      remove(index) {
        this.offer.timeSlotList.splice(index, 1);
        this.timeSlotGUIList.splice(index, 1);
      },
      async loadCategories() {
        this.categories = await OfferService.getAllCategories();
      },
      async getBusiness() {
        try {
          const userInfoDto = await UserService.getUserInfo();
          this.offer.business = await BusinessService.getBusiness(userInfoDto.id);
        } catch (e) {
          this.error = e;
        }
      },
      getFile(file) {
        if ((!(this.offer.picture === null)) || (!(this.offer.picture === ''))) {
          this.offer.picture = file.base64.replace(/^data:image\/(png|jpg|jpeg|gif);base64,/, '');
        }
      },
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>

