<template>
  <b-card tag="article"
          footer-tag="footer"
          class="mb-2 offerBoxes"
          >
    <div v-if="((picture === '' || picture === null) &&  !(pictureUrl === ''))" class="imageDiv">
      <img class="imgOffer" v-bind:src="pictureUrl" alt="Card image cap">
    </div>
    <div v-if="(!(picture === '') && !(picture === null))" class="imageDiv">
      <img class="imgOffer" :src="'data:image/jpeg;base64,' + picture">
    </div>
    <div v-if="((picture === '' || picture === null) && pictureUrl === '')" class="imageDiv">
      <img class="imgOffer" src="/../../static/img/icons/apple-touch-icon.png">
    </div>
    <b-card-body>
      <h4>{{ title }}</h4>
      <p class="card-text">{{ description }}</p>
      <b-button :disabled="disabled" v-on:click="$emit('offer-detail')" variant="primary">Details</b-button>
    </b-card-body>
    <div slot="footer">
      <b-row>
        <b-col class="text-left" cols="5">
          <strong class="green-text">{{ ((price / 100) * ((100 - discount) / 100)).toFixed(2) }}&euro;</strong>
          <small class="red-text"><del>{{ price/100 }}&euro;</del></small>
        </b-col>
        <b-col class="text-center" cols="3">
          <small>{{ amount }} left</small>
        </b-col>
        <b-col class="text-right" cols="4">
          <b-badge variant="info">{{ categoryName }}</b-badge>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-left" cols="4">
          <small><b>{{ discount }}% off</b></small>
        </b-col>
        <b-col class="text-right" cols="8">
          <small>expires {{ new Date(validUntil) | moment("from", "now") }}</small>
        </b-col>
      </b-row>
    </div>
  </b-card>
</template>

<script>

  export default {
    name: 'OfferComponent',
    props: {
      id: Number,
      title: String,
      price: Number,
      discount: Number,
      amount: Number,
      categoryName: String,
      pictureUrl: String,
      picture: String,
      validUntil: String,
      description: String,
      disabled: Boolean,
    },
    methods: {
    },
  };
</script>

<style scoped lang="sass">
  @import '../global_styles/colors'
  @import '../global_styles/text_styles'
  @import '../global_styles/alignements'
</style>
