<template>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <router-link :to="{ name: 'HomeComponent' }" class="navbar-brand">
                        <span class="glyphicon glyphicon-equalizer"></span> {{name}}
                    </router-link>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li v-bind:class="{ active: isActiveRoute('ControlComponent') || isActiveRoute('StartControlComponent') }" data-toggle="collapse" data-target=".navbar-collapse.in"><router-link :to="{ name: 'ControlComponent' }">Control</router-link></li>
                        <li v-bind:class="{ active: isActiveRoute('SimulationComponent') }" data-toggle="collapse" data-target=".navbar-collapse.in"><router-link :to="{ name: 'SimulationComponent' }">Simulate</router-link></li>
                        <li v-bind:class="{ active: isActiveRoute('DataComponent') }" data-toggle="collapse" data-target=".navbar-collapse.in"><router-link :to="{ name: 'DataComponent' }">Data</router-link></li>
                    </ul>
                </div>
            </div>
        </nav>
        <router-view></router-view>
    </div>
</template>


<script>
  export default {
    data() {
      return {
        name: 'Last Minute Deal Simulator'
      }
    },

    methods: {
      isActiveRoute(name) {
        return this.$route.name === name;
      }
    }
  }
</script>


<style lang="sass" scoped>
    @import './colors'

    .container
        background: $mainColor
</style>
